<?php
//foreach($printer_list AS $kprinter=>$printer){
//pr($print_data);
//pr($printer);
//echo '<h2>'.$printer.' '.$kprinter.'</h2>';
echo '<label>Čas vytisknutí: </label><span id="order_part_print_time">Čas vytisknuto</span><br />';

echo '<label>Účet: </label><span id="order_part_table_name">Název stolu</span><br />';
echo '<label>Vystavil: </label>'.$loggedUser['name'].'<br />';
echo '<br />';
echo '<table class="print_table">'; 

	echo '<tr>';
		echo '<th>'.__('Množ.').'ks </th>';
		echo '<th>'.__('Položka').'</th>';
	echo '</tr>';
	echo '<tbody id="print_part_data">';
	
	echo '</tbody>';

echo '</table>';
echo '<br />';
echo '<br />';
echo '&nbsp;';
//}

?>