<fieldset>
	<legend><?php echo __("Základní údaje")?></legend>
	<div class="sll"> 
		<?php echo $this->Form->input("to", ['label' => __("Přidat kolik")]); ?>
	
	</div>
	<div class="slr"> 
		
	</div>
</fieldset>
