.box_sizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.radius(@radius) {
     -webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius;behavior: url(/PIE.htc);-webkit-background-clip: padding-box;   -moz-background-clip:    padding;   background-clip:         padding-box;
}


html{
  height: auto !important;
  min-height: 100%;
}


body.ajax{

  padding-bottom: 0px;
  float:left;
  width: 100%;
  background: #fff;
  min-height: 100%;

  .container{
    margin:  0px;
    padding: 0;
    width: 100%;

    .content{
      width: 80%;
      float:left;
      padding: 20px;
      .box_sizing();
      
      table {
	      width: 100%;
	      
	      th {
		      font-family: 'opensans';
		      font-weight: bold;
		      color: #5f5f5f;
		      font-size: 14px;
	      }
	      
	      td {
		      font-size: 14px;
		      font-family: 'opensans';
	      }
      }
    }
  }

  .menu{
    float:right;
    width: 20%;
    height: 100%;
    background: #eff3f8;
    z-index: 500;
    position: fixed;
    right: 0;

    li {
      border-bottom: 1px solid #c8ced5;
      margin-bottom: 0;
      list-style: none;
      display:block;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      padding: 10px 15px;
      display:block;

      &:hover, &.active {
        background: #3a945b;
        color: #fff;
      }

    }

  }
}

.header{
  background: #B33838;
  padding: 11px 15px;
  cursor:move;
  color: #FFF;
  margin: 0;
  z-index: 5000;
  position:relative;

  h1{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
  }
}

#modal_in {
	padding:5px;
}






.modal_tabs {
	position:relative;
	z-index:100;
	top:1px;
	li {
		height:30px;
		float:left;
		list-style-type:none;
		margin:0;
		padding:0 10px;
		background:#EAEAEA;
		.radius(5px 5px 0 0);
		line-height:30px;
		cursor:pointer;
		border:1px solid #ccc;
		&.active,&:hover {
			background:#fff;
			border-bottom:1px solid #fff;
					
		}
		
	}
}
.modal_contents {
	border:1px solid #ccc;
	margin-bottom:20px;
	width:100%;
	position:relative;
	
	.modal_tab {
		width:100%;
		position:relative;
		display:block;
		padding:15px 10px;
		.box_sizing();
	}
}