/*
@import "base.css";
@import "fonts/fonts.css";
@import "mixins.less";
@import "response.less";
@import "pospiech.less";
*/
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– 
*/
h1, h2, h3, h4, h5, h6 {
  
  font-weight: 500; 
  color:@heading;
  margin:1rem 0;
  }
  
/* Larger than phablet */
@media (min-width: 550px) {
  h1 { .font_size(2.5); font-weight:bold;
       &.login {
           .font_size(3);
           margin-bottom:3rem;
       } 
  }
  h2 { .font_size(2); }
  h3 { .font_size(1.8); }
  h4 { .font_size(1.6); }
  h5 { .font_size(1.4); }
  h6 { .font_size(1); }
}

/* BASIC */


html {
  font-size: 62.5%; 
  height:100%;
}

body {
    font-size: 1.3em; /* currently ems cause chrome bug misinterpreting rems on body element */
    padding: 0;
    margin: 0;
    font-family: Arial,Tahoma, sans-serif;
    background:@bg;
    
    
     
    div,nav,header,section,article {
        .box_sizing();
    }
    
    p,span,a {
     .font_size(1.5);   
    }
    
    .fa {
       .font_size(2.5); 
       margin: 5px;
       &:before {
           color:@fa;
       }
    }
}

/* PAGE WRAP */
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -350px;
}

.page-wrap:after {
    content: "";
    display: block;
}

/* HEADER */

#top-header {
    background:@white;
    height:75px;
    
    #logo {
        display:inline-block;
        color:@fastest;
        .font_size(3.3);
        margin-top:21px;
        text-decoration: none;
    }
    
    ul.user-menu {
        display: inline-block;
        margin-top:25px;
        
        li {
            display:inline-block;
            
            a {
               padding: 0 8px;
               .font_size(2);
               text-decoration: none;
            }
            
            &.user {
                margin-right:15px;
               
               strong {
                    display:inline; 
               
               } 
            }
            
            &.notify {
                span.fa:hover:before {
                    color:#FFC600;
                }
            }
            
            &.cal{
                span.fa:hover:before {
                    color:#0088cc;
                }
            }
            
            &.logout{
                span.fa:hover:before {
                    color:#e4554e;
                }
            }
        } 
    }
}

#top-menu {
    width: 100%;
    background: @main;
    color: @white;
    
    height: 50px;
   
    ul{
        &.test {
            
            li a {
                display: inline-block;
                text-decoration: none;
                padding: 10px 15px;
                color: #A9A9A9;
                margin: 10px 5px;
                border-radius: 6px; 
                height:auto;
                line-height: 1;
                
                &:hover,
                &.active{
                    color:#E0E0E0;
                    background: #555E67;
                }
            }  
        }
        
        padding: 0;
        display:inline-block;

        li{
            float:left;
            display: inline-block;
        }

        a{
            display: inline-block;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
            padding:0 15px;
            color:#A9A9A9;
            
            &:hover,
            &.active{
               color:#E0E0E0;
               background: #555E67;
            }
        }

        &.dropdown{
            li{
                float:none;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                text-decoration: none;
                padding:0 15px 0 15px;
                cursor:pointer;

                &:hover{
                    background: #444;
                }

                span{
                    margin-left: 7px;
                }
            }

            .sub{
                padding: 0;
                background: #444;
                li{border: 0; padding: 0;}
            }

            ul{display:none;}
        }

    }
}

#sub-header {
    height:60px;
    background:@white;
    h1 {
        /*font-family: ubuntu;*/
        margin-top:19px;
        font-weight:100; 
    }
}

/* CONTENT */
    
section#content {
    margin:0px;
    
    .item {
        
        margin-bottom:35px;
        
       .inner {
          padding:20px;  
          background:@white; 
          min-height:350px;
          .transition(box-shadow,0.3s);
          
           &.red {
            h2 { color:@red; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @red;*/
           }
           
           &.green {
            h2 { color:@green; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @green;*/
           }
           
           &.blue {
            h2 { color:@blue; text-transform:uppercase; font-weight: bold;}      
            /*border-left: 7px solid @blue;*/
           }
           
           &.yellow {
            h2 { color:@yellow; text-transform:uppercase; font-weight: bold;}   
            /*border-left: 7px solid @yellow;*/
           }
           
           &:hover {
             .transition(box-shadow,0.3s);
             .box-shadow (2px 2px 3px #ddd);
           }
           
           h2 {
            margin-top:0;
           }
        }
    }
}


.col{
    width: 100%;

    &.c1{
        width: 25%;
    }

    &.half, &.c2{
        width: 50%;
    }

    &.c3{
        width: 75%;
    }
}


/* TABLES */

.layout {
	margin-top:50px;
}

#top_action {
	margin-top:0px;
	.button {
		width:99%;
		height:23px;
		line-height:23px;
		padding:0;
	}
}

.table-formated{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border:0 none;
    margin-bottom: 20px;

    tr:nth-child(even) {
        background-color: #F4F5F7;
    }
    thead {
		tr:first-child {
			background:@white;
		}
	}
	
	tr.even {
		td {
			background:#E5ECFC;
		}
	}
	tr.selected{
        >td {
			background: #FFF0C6 !important;
		}
    }
	tr:hover{
		>td {
			background:#FCECC2;
			
		}
	}

    th{
        color: @heading;
        padding: 2px 2px;
        text-align:left;
        font-weight: bold;
        font-size:10px;
		a {
			font-size:10px;
		}
		&.price {
			text-align:right;
		}
		&.stats_data  {
			color:#000;
			font-weight:normal;
			background:#F7ECE6;
		}
	}

    td{
        padding: 0px 2px;
        border:0 none;
        color:@main;
		border-bottom:1px solid #E8E8E8;
		font-size:10px;
        /*border-right: 1px solid #ddd;*/
		a {
			font-size:10px;
		}
		.button {
			margin:0;
			font-weight:normal;
			line-height:13px;
			height:13px;
			font-size:9px;
			padding:0 5px;
			vertical-align:middle;
		}
		.titems {
			display:block;
			position:fixed;
			padding:10px;
			background:#fff;
			top:10%;
			left:0;
			right:0;
			margin:auto;
			width:800px;
			z-index:100;
			table {
				width:100%;
				tr {
					&:hover {
					td {
					}
					}
				}
			}
		}
		&.price {
			text-align:right;
		}
	}
	tr.trzba_total {
		td {
			background:#bcffc3;
		}
	}
	tr.trzba_yellow {
		td {
			background:#f8ffb2;
		}
	}
	
}


.pagination{
    list-style: none;

	text-align:center;
    li, span{
        display:inline-block;
		padding:2px 3px;
		margin:0;
		vertical-align:middle;
		.fa {
			height:13px;
			top:-12px;
			position:relative;
			&:before {
				height:13px;
			}
		}
		&.active {
			font-weight:bold;
		}
		&.prev {
			float:left;
		}
		&.next {
			float:right;
		}
    }

    span.counter{
        margin: 0px 20px;
		
    }
	span {
		&.fa::before {
			font-size:13px;
		}	
	}
}

.modal-overdiv{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 100001;
    display: none;
}

	.modal-contentdiv{
    bottom: 0;
    left: 0;
    margin: 20px auto 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200002;
    max-width: 900px;
    height: 100%;
    width: 100%;
	
    .close{
        color: #FFF;
        font-size: 25px;
        cursor:pointer;
        position: absolute;
        right: 0px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        font-weight: 100 !important;
        top: 0;
		.fa::before {
			color:#fff;
		}
    }

    .refresh{
        color: #FFF;
        font-size: 25px;
        cursor:pointer;
        position: absolute;
        right: 40px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        font-weight: 100 !important;
        top: 0;
		.fa::before {
			color:#fff;
		}
    }

    #modalWindow{
        background: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 0;
        width: 100%;
        height:100%;
        min-height:200px;
		

    }
	#modal_preloader {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
	}

}

.bar{
    margin: 0 0 15px 0;
}

ul{
    padding: 0;
    margin: 0;
    color: inherit;
}

.fright{
    float:right;
}
.fleft{
    float:left;
}

.mcenter{
    margin: 0 auto;
}

.tcenter{
    text-align: center;
}


/* FOOTER */
footer,
.page-wrap:after {
   height:350px; 
}

footer {
    
    
    .footer {
        h2{
            font-weight:bold;
            color:@footer_h;
            margin-bottom:2rem;
        }

        p {
            color:#BEC6D0;
            font-weight:100;
            line-height:1.4
        }
    }

    #top-footer {
       height:300px; 
       padding:14px 0;
       background:@main;

       .item {
           margin:20px 0;
       }
    }

    #sub-footer {
      height:50px;
      background:@footer;
      padding:15px 0;
      color:#7B8890;
      font-weight:100;
      .font_size(1.3);

      .copyright {
          margin-top:3px;
      }

      a#fastest-logo {
         display:block;
         background:url('../img/logo-fastest.png') center center no-repeat;
         width:159px;
         height:22px;
         float:right;
      }
    }
}

/* FORM */
form {
    .box_sizing();
	
    @form_height: 25px;
	fieldset{
		padding:10px;
		border:1px solid #EAEAEA;
		margin:0 0 10px 0;
		
		&.close_field {
			legend {
				cursor:pointer;
				margin-left:9px;
			}
			overflow:hidden;
			height:0;
			padding:0;
			border-width:0;
			border-top-width:1px;
		}
		
	}
	
	div.field_bg {
		background:#EDEDED;
		padding:5px 5px 0 5px;
		.box_sizing();
		margin-bottom:5px;
	}
	
    * {
       .box_sizing();
       /*font-family:opensans;*/
    }
	select.multiple_select {
		width:100% !important;
	}
    div.input {
       position:relative; 
	   display:inline;
	   &.long {
			label {width:14.2%;}
			input, select,textarea {
				width:84.5%;
				&.long2 {
					height:300px;
				}
			}
			
	   }
	   &.half {
		   display:inline-block;
		   width:34%;
		   input,select {
			   width:100%;
		   }
	   }
	   &.half2 {
		   display:inline-block;
		   width:22.5%;
		   input {
			   width:100%;
		   }
	   }
    }
	
    div.radio {
        margin-bottom:15px;
        
        label {
            display:block;
            float:left;
            width:auto;
        }
        
        input {
            display:block;
            width:10%;
            float:left;
            position:relative;
            top:2px;
        }
    }
    
    background:@white;
    border: 0 none;
    padding: 5px 5px;
	
    
    label,
    input {
       width:68%;
       .box_sizing();
	   &.mobil {width:47% !important;} 
	   display:inline-block;
	   
    }
	
	
    
    legend {
       .font_size(1.2);
       padding:0 10px;
	   color:#944718;
	   span {
		   font-family:'Font Awesome\ 5 Free';
		   margin:0 0 0 5px;
		   position:relative;
		   top:2px;
		   cursor:pointer;
	   }
    }
    
	label {
		width:29%;
		.font_size(1.1);
		float:left;
		line-height:@form_height;
		margin:0;
		
	}
	var{
		float:left;
		line-height:@form_height;
		width:74%;
		margin-bottom:15px;
	}
     
	
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=number],
    input[type=email],
    textarea,
    select  {
       background:#FBFBFB;
       height:@form_height;
       border:1px solid #ddd;
       padding:0 10px;
       margin-right:10px;
	   .radius(3px);
	   .font_size(1.2);
	   width:68%;
	   min-height:25px;
	   margin-right:0;
	   margin-bottom:5px;
       
       &:focus {
          border-color:#4F3324; 
       }
	   &.half {
		   width:33%;
	   }
    }
	select {
		&.mobil_pref {width:20% !important;}
		.select_arrow();
		width:68%;
	}
	textarea {
		padding:5px;
		height:75px;
		width:68%;
	}
    
    button,
    input[type=submit] {
       display:block; 
       margin-left:auto;
       margin-right:auto;
    }
	label.preloader {
		&::before {
			content:'';
			position:absolute;
			top:0;
			right:13px;
			width:30px;
			height:@form_height;
			background:transparent url('/css/validation/preloader_auto.gif') no-repeat center center;
		}
	}
    &.login {
        
    }
    
   
    
    .counter {
        position:absolute;
        top:-13px;
        right:2%;
        color:#bbb;
        .font_size(1.0);
    }
	
}

/* MISC */

a.login {
    text-transform: uppercase;
    text-decoration: none;
    /*font-family: ubuntu;*/
    margin: auto;
    display: block;
    text-align: center;
    color:@heading;
    
    &:hover{
        color:#000;
    }
}
span.sort { 
	font-family:'Font Awesome\ 5 Free';
}
.searchable {
	.query {
		top:-29px !important;
		width:100%;
	}
}
.button_preloader {background: #FFDB71 url("/css/validation/preloader.gif") no-repeat right !important;padding-right:20px !important;color:#000 !important;}

#filtration {
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:200px;
	height:100%;
	padding:4px;
	.title {
		margin:0px 0 5px 0;
		display:block;
	}
	
	div.input {
		width:95%;
		
		display:inline-block;
		vertical-align:top;
		label {
			display:inline-block;
			margin-right:3px;
			font-size:11px;
		}
		input,select {
			display:inline-block;
			border:1px solid #ccc;
			padding:3px;
			width:120px;
			margin-right:3px;
			height:15px;
			line-height:15px;
			width:100%;
			margin-bottom:3px;
			.radius(3px);
			font-size:11px;
			
			padding:3px;
		}
		select {
			width:103.5%;
			.select_arrow();
			color:#666;
			height:23px;
			margin-bottom:3px;
			
			padding:0px;
			option {
				
				padding:3px;
				color:#000;
			}
		}
		.btn {
			
		}
	}
	
	.btn {
		line-height:25.5px !important;
		height:25.5px !important;
		margin-bottom:5px;
		
	}
}

.invalid {
	border:1px solid #ff0000 !important;
}

.goocompleter_listbox {
    border: 1px solid #ccc;
    display: none;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    width: 600px;
	background:#fff;
	ul {
		padding:5px;
		li {
			list-style-type:none;
			border-bottom:1px solid #EAEAEA;
			line-height:25px;
			margin:0;
			padding:0 3px;
			.box_sizing();
			cursor:pointer;
			var {
				color:#666;
				font-style:normal;
			}
			&.odd {
				background:#EAEAEA;
			}
			&:hover {
				background:#2C4CA4;
				color:#fff;
			}
		}
	}
}

.auto_loading {
	position:absolute;
	top:5px;
	right:13px;
	width:30px;
	height:20px;
	background:transparent url('/css/validation/preloader_auto.gif') no-repeat center center;
	
}

#login_box {
	background:#fff;
	padding:10px;
	margin:0.5% auto;
	position:relative;
	
	width:100%;
	max-width:500px;
	.box-shadow(3px 3px 3px #ccc);
	h1 {
		text-align:center;
		margin-bottom:20px;
	}
}

.message {
	margin:5px auto;
	text-align:center;
	padding:7px;
	.radius(3px);
	&.error {
		background:#EF514F;
		color:#fff;
		border:1px solid #F71E1Bl
	}
}
.overflow {overflow:hidden;}

.modal_win {
	.content {
		width:1000px;
		height:100%;
		background:#fff;
		top:0px;
		left:0;
		right:0;
		margin:auto;
		z-index:100;
		position:absolute;
		padding:50px 10px 10px;
		.content_in {
			height:100%;
		}
	}
	
	&.uzaverka {
		.content {
			width:550px;
		}
	}
}

#tree_menu {
	width:50%;
	margin:10px;
	li {
		margin:10px;
		position:relative;
		border:1px solid #ccc;
		.radius(3px);
		padding:5px;
		list-style-type:none;
		cursor:move;
		&:hover {
			background:#ccc;
			
		}
		
		ul {
			li {
				background:#efefef;
				&:hover {
					border-color:#666;
				}
			}
		}
		.delete_button {
			cursor:pointer;
			z-index:1000;
			margin:0;
			position:absolute;
			top:2px;
			right:5px;
			font-size:12px;
			&:before {
				font-size:12px;
			}
		}
		input.text {
			border:1px solid #ccc;
			margin:0;
			padding:3px;
			.radius(3px);
		}
	}
}
.cats_buttons {
	margin:15px;
}
#menu_items {
	border-bottom:1px solid #ccc;
	li {
		display:block;
		&:hover {
			background:#efefef;
		}
		label {
			float:none;
		}
	}
}

ul.tree li.nodrop {
	/*background-image: url(../Assets/Blocked.png);*/
}

ul.tree li.nodrop span {
	color: #800;
}

ul.tree li.nodrag span {
	color: #999;
}

div.treeIndicator {
	width: 100px;
	height: 1px;
	background-color: #000;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	z-index: 50;

	/* For IE */
	overflow: hidden;
	line-height: 1px;
}

li.drag {
	position: absolute;
	z-index: 50;
}

li.drag span.dispose {
	display: none;
}

span.dispose {
	float: right;
	color: #800;
}