/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1.2.2016, 10:24:01
    Author     : Radovan
*/
@fastest:#AAD039;

@main:#474F58;
@bg:#EFF3F8;
@table_h:#7D8B98;
@logo:#AFBBC5;

@font:#333;
@heading:#636E79;
@footer:#2B3540;
@footer_h:#AAD039;

@fa:#A2ACB5;
@white:#fff;

@scheme:#636E79;

@red:rgba(228, 85, 78, 1);
@green:rgba(45, 179, 98, 1); //rgba(63, 199, 117, 0.58)
@blue:rgba(118, 156, 204, 1);
@yellow:rgba(255, 198, 0,1);

 
/* CSS MIXINY */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select_arrow() {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-image:url('/css/layout/select.svg');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:15px;
	padding-right:20px;
	
	
	
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.appereance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;	
}

.scale(@val) {
	-ms-transform: scale(@val); 
    -webkit-transform: scale(@val); 
    -moz-transform: scale(@val);
    -o-transform: scale(@val);
    transform: scale(@val);
}

.text-shadow (@h-shadow, @v-shadow, @blur-radius, @color) {
	text-shadow: @h-shadow @v-shadow @blur-radius @color;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.box_sizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.opacity(@value){
	-webkit-opacity:@value;
	-moz-opacity:@value;
	opacity:@value*0.01;
	filter:alpha(opacity=@value);
	
}

.transition(@property,@time) {
	-webkit-transition: @property @time ease-in-out;
	-moz-transition: @property @time ease-in-out;
	-o-transition: @property @time ease-in-out;
	-ms-transition: @property @time ease-in-out;
	transition: @property @time ease-in-out;
}

/*.transition(@time) {
	-webkit-transition: all @time ease-in-out;
	-moz-transition: all @time ease-in-out;
	-o-transition: all @time ease-in-out;
	-ms-transition: all @time ease-in-out;
	transition: all @time ease-in-out;
}*/

.flipcard {position: relative;perspective: 500px;
	&.v:hover .front, &.v.flip .front{
		transform: rotateX(180deg);
	}
	&.v:hover .back, &.v.flip .back{
		transform: rotateX(0deg);
	}
	&.v .back{
	  transform: rotateX(-180deg);
	}
	&.h:hover .front, &.h.flip .front{
		transform: rotateY(180deg);
	}
	&.h:hover .back, &.h.flip .back{
		transform: rotateY(0deg);
	}
	&.h .back{
	  transform: rotateY(-180deg);
	}
	.front,.back{position:absolute;width: 100%;height: 100%;box-sizing: border-box;transition: all 0.5s ease-in;color: white;background-color: #000;backface-visibility: hidden;}
}

.placeholder(@color, @weight, @font, @size){
	::-webkit-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
	/* Firefox 18- */	
	:-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* Firefox 19+ */
	::-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* IE */
	:-ms-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
}

.input_shadow(@color){
 box-shadow:0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -moz-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -webkit-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
}

.rotate(@rad) {
    -ms-transform: rotate(@rad);
    -webkit-transform: rotate(@rad);
    -o-transform: rotate(@rad);
    -moz-transform: rotate(@rad);
    transform: rotate(@rad);
	behavior: url(/PIE.htc);
}

.radius(@radius) {
     -webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius;behavior: url(/PIE.htc);-webkit-background-clip: padding-box;   -moz-background-clip:    padding;   background-clip:         padding-box;
}

::selection {
	background: @main;
	color: #fff;
}

::-moz-selection {
	background: @main;
	color: #fff;
}

.font_size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}		
