a:link {color:#4F3324;}
a:visited {color:#4F3324;}
a:hover {color:#382218;}
.selection(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;	
}
.preloader_solo {
	background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
	min-height:80px;		
}
		
#menu_open {
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	width:50px;
	height:50px;
	line-height:50px;
	margin:0;
	z-index:100;
	display:none;
	background:#2F4EA3;
	text-align:center;
	&.fa{
		
		&:before {
			
			font-size:40px;
			color:#fff;
		}
	}
}
.top_menu {
	padding-left:10px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:30px;
	z-index:100;
	background: #6d0019; /* Old browsers */
	background: -moz-linear-gradient(top,  #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	li {
		display:inline-block;
		margin-left:-5px;
		position:relative;
		white-space:nowrap;
		a {
			color:#fff;
			border-right:1px solid #301E14;
			text-decoration:none;
			line-height:30px;
			display:block;
			padding:0 25px;
			
			span.fa{
				margin:-2px 10px 0 0;
				
				&::before {
					color:#fff;
					font-size:15px;
				}
			}
			&:hover,&.active {
				background:#FFDB71;
				color:#000;
				.fa::before {
					color:#000;
				}

			}
		}
		&:hover {
			ul {
				display:block;
			}
		}
		ul {
			position:absolute;
			top:30px;
			left:4px;
			margin:0;
			z-index:10;
			background:#a90329;
			.radius(0 0 3px 3px);
			display:none;
			
			li {
				margin:0;
				display:block;
				width:auto;
				text-align:left;
				a {
					border:0;
					padding:0 10px;
					display:block;
				}
			}
		}
	}

}
#top_menu2 {
	position:fixed;
	top:0;
	right:200px;
	left:auto;
	width:auto;
}

#dashboard {
	margin-top:45px;
	height:100%;
	#canvas_left {
		width:80%;
		height:100%;
		.box_sizing();
		margin-right:5px;
	}	
	#side_drag {
		width:5px;
		height:100%;
		cursor:e-resize;
		position:absolute;
		top:0;
		left:0;
	}
	
	#canvas_filtr,#map_filtr {
		background:#F4F4F4;
		.radius(3px);
		border:1px solid #ccc;
		width:100%;
		min-height:30px;
		margin:0 0 10px 0;
		padding:5px;
		.box_sizing();
		select {
			.select_arrow();
			border:1px solid #ccc;
			.radius(3px);
			margin:0;
			color:#666;
		}
		.input {
			&.text {
				display:inline-block;
			}
		}
		input {
			border:1px solid #ccc;
			.radius(3px);
			margin:0;
			color:#666;
		}
		#refresh_canvas {
			float:right;
			text-decoration:none;
			margin:-2px 0 0 5px;
			position:relative;
			&.fa::before {
				color:#000;
				font-size:24px;
			}
			
			#canvas_count {
				position:absolute;
				bottom:-3px;
				right:-4px;
				font-size:10px;
				background:red;
				.radius(6px);
				width:12px;
				height:12px;
				text-align:center;
				line-height:12px;
				color:#fff;
			}
		}
		.select_checkboxs {
			float:right;
			margin:3px;
			line-height:17px;
			font-size:12px;
		}
	}
	
	#map_filtr {
		position:absolute;
		left:6px;
		top:45px;
		.input {
			display:inline-block;
		}
		.filtr_txt {
			font-size:12px;
			display:inline-block;
		}
	}
	
	#load_canvas {
		width:100%;
		border:1px solid #ccc;
		height:100%;
		padding:5px;
		background:#F9F9F9;
		.radius(3px);
		.drag_relative {
			position:relative;
			display:inline-block;
			width:auto;
			vertical-align:top;
			margin:2px;
			
		}
		&.preloader {
			background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
			
		}
		
		&.can_drop {
			background:#eaeaea;
		}
		
		.noresult {
			list-style-type:none;
			background:#D8D8D8;
			color:#666;
			.radius(3px);
		}
		.fst_drag.car_join_over {
			border:1px solid #ccc;
			background:#F49A9A;
			width:512px;
			height:110px;
			padding:0px;
			margin:5px;
			.car {
				margin:0 0px;
			}
		}
		.car {
			width:220px;
			height:56px;
			border:1px solid #ccc;
			.radius(3px);
			background:#E5EFFF;
			position:relative;
			margin:2px;
			left:0;
			top:0;
			padding:10px 5px;
			float:none;
			display:inline-block;
			/*overflow:hidden;*/
			font-size:11px;
			.selection();
			list-style-type:none;
			 
			&.active{
				border:1px solid #4650AA;
			}
			
			&:hover{
				border:1px solid #666;
			}
			
			
			&.prives {
				margin-right:230px;
				/*width:440px;*/
			}
			
			.ico {
				display:inline-block;
				width:25px;
				height:25px;
				background:#E5E5E5;
				cursor:pointer;
				position:relative;
				border:1px solid #9E9E9E;
				
			}
			
			.prelozeno {
				display:none;
			}
			&.full ,&.full2{
				/*border:1px solid #FF8484;*/
				.prelozeno {
					display:inline-block;
					background:#fff;
					&.fa::before {
						color:#ff0000;
					}
					&:hover{
						background:#fff;
					}
				}
			}
			
			.driver_buttons {
				background:#1C45AA;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5efff+0,d3e4ff+50,d3e4ff+100 */
				background: rgb(229,239,255); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(229,239,255,1) 0%, rgba(211,228,255,1) 50%, rgba(211,228,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(229,239,255,1) 0%,rgba(211,228,255,1) 50%,rgba(211,228,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(229,239,255,1) 0%,rgba(211,228,255,1) 50%,rgba(211,228,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efff', endColorstr='#d3e4ff',GradientType=0 ); /* IE6-9 */
		
				position:relative;
				text-align:right;
				.radius(0 0 5px 5px);
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
			}
			
			.car_color {
				position:absolute;
				top:5px;
				left:3px;
				.radius(3px);
				&.predano {
					border:1px solid #666; 
					&::after {
						content:'Předáno';
						position:absolute;
						top:-69px;
						right:74px;
						width:55px;
						.radius(3px);
						background:#D13E3E;
						text-align:center;
						
					}
				}
			}
			
			&.tahac {
				width:455px;
			}
			
				
			&.load_from_db {
				&::before {
					border-bottom:3px solid #2448A7;
					content:'';
					width:100%;
					height:4px;
					position:absolute;
					bottom:0;
					left:0;
				}
			}
				
			&.can_drop {
				background:#2649A7;
				.name {
					color:#fff;
				}
			}
			
			.checkbox {
				position:absolute;
				left:30px;
				top:16px;
			}
			.name {
				position:absolute;
				top:5px;
				left:5px;
				font-size:11px;
			}
			.spz ,.car_type{
				display:block;
				color:#666;
				font-size:10px;
				margin-top:3px;
				position:absolute;
				top:3px;
				right:3px;
			}
			.count {
					position:absolute;
					top:-5px;
					left:-5px;
					width:12px;
					height:12px;
					.radius(6px);
					background:#fff;
					color:#000;
					font-size:10px;
					text-align:center;
					line-height:10px;
			}
				
			.driver_detail {
				&.noload {
					&.fa::before {
						color:#ccc;
					}
				}
				
				
			}
			
			.adresa_list {
				
				cursor:help;
			}
			.adresa_list_div {
				display:inline-block;
				position:absolute;
				z-index:10;
				top:3px;
				left:0px;
				background:#fff;
				padding:3px;
				text-align:left;
			}
			.delete_car {
				
			}
			.fa {
				.radius(3px);
				margin:5px 2px;
				&:hover {
					background:#666;
					&:before {
						color:#ccc;
					}
				}
				&:before {
					font-size:17px;
					color:#000;
					line-height:25px;
					display:block;
					text-align:center;
				}
			}
			
			.show_detail {
			}
			
			.zakazka_ids {
				position:absolute;
				top:3px;
				right:3px;
				display:none;
				
			}
			
			.progress_over {
				position:absolute;
				bottom:35px;
				left:1%;
				width:98%;
				overflow:hidden;
				text-align:center;
			}
			
			.progr {
				width:0%;
				height:15px;
				white-space:nowrap;
				.radius(2px);
				position:relative;
				width:49%;
				display:inline-block;
				.radius(3px);
				background:rgba(255,255,255,0.8);
				border:1px solid #E8E8E8;
				margin:0 0 2px 0;	
				overflow:hidden;
				
				&.progress2 {
					margin-left:4px;
				}
				span {
					font-size:9px;
					display:block;
					text-align:center;
					position:absolute;
					left:5px;
					top:3px;
					color:#383838;
					span.red {
						color:#000;
						position:relative;
						top:auto;
						left: auto;
						display:inline;
						font-weight:bold;
					}
				}
				div.pr {
					left:0;
					top:0;
					position:absolute;
					height:100%;
					width:0;
					.radius(3px);
					border:0px solid #ccc;
					
				}
				&.progress div.pr{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baedb4+0,598c68+100 */
					background: rgb(186,237,180); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(186,237,180,1) 0%, rgba(89,140,104,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(186,237,180,1) 0%,rgba(89,140,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(186,237,180,1) 0%,rgba(89,140,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baedb4', endColorstr='#598c68',GradientType=0 ); /* IE6-9 */
					background:#C5EACB;
				}

				&.progress2 div.pr{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2bfd6+0,727eb2+100 */
					background: rgb(162,191,214); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(162,191,214,1) 0%, rgba(114,126,178,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(162,191,214,1) 0%,rgba(114,126,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(162,191,214,1) 0%,rgba(114,126,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bfd6', endColorstr='#727eb2',GradientType=0 ); /* IE6-9 */
					background:#C5DFEA;
				}

			}
			/*
			.fst_drag {
				position:absolute;
				bottom:0;
				right:-4px;
				background:#fff;
				cursor:move;
				width:20px;
				height:20px;
				.radius(3px);
				&.fa{
					&::before {
						background:#fff;
						line-height:20px;
						
					}
					&:hover::before {
						background:#ccc;
						color:#000;
					}
				}
			}
			*/
			
			.car_join {
			}
			
		}
	}
	#side_menu {
		position:relative;
		float:right;
		width:19%;
		min-width:400px;
		background:#F4F4F4;
		padding:0 5px;
		.box_sizing();
		border:1px solid #ccc;
		.radius(2px); 
		.drag_relative {
			margin:auto;
		}
		.fst_drag {
			z-index:151;
		}
		
	}

	#zakazka_kos {
		position:absolute;
		top:0;
		right:0;
		width:200px;
		height:50px;
		background:#ccc;
		
		&.can_drop {
			background:#eaeaea;
		}
	}

	#switch_content_menu {
		position:relative;
		height:20px;
		top:-1px;
		z-index:1;
		li {
			height:20px;
			float:left;
			list-style-type:none;
			margin:0;
			a {
				display:block;
				padding:0 10px;
				text-decoration:none;
				background:#EAEAEA;
				.radius(5px 5px 0 0);
				line-height:20px;
				border:1px solid #ccc;
				font-size:12px;
				&.active,&:hover {
					background:#fff;
					border:1px solid #E5E5E5;
					border-bottom:1px solid #fff;
					
				}
			}
		}
	}

	#switch_content {
		clear:both;
		border:1px solid #E5E5E5;
		position:relative;
		width:100%;
		background:#fff;
		height:90%;
		padding-bottom:10px;
		z-index:2000;
		&.modal_over {
			.opacity(20);
		}
		
		.tabs {
			width:100%;
			height:100%;
			top:0;
			left:0;
			
		}
		.filtrace {
				text-align:center;
				margin:10px 0;
				background:#F4F4F4;
				padding:5px 0;
				.input.text {
					display:inline-block;
				}
				select,.input.text input {
					border:1px solid #ccc;
					display:inline-block;
					margin:2px;
					width:120px;
				}
				
				select {
					.select_arrow();
					color:#666;	
					width:124px;
				}
				.button.small {
					height:29px;
					line-height:22px;
				}
		}
		.load_data {
			width:100%;
			height:100%;
			.selection();
			&.overflow {
				overflow-y:scroll;
			
			}
			&.preloader {
				background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
				
			}
			.sort_list2 {
				margin-top:10px;
			}
			.fa {
				&:before {
					font-size:15px;
					color:#666;
					display:block;
					text-align:center;
				}		
			}
			
			.input.checkbox {
				display:inline-block;
				position:relative;
				top:2px;
			}
			
		}
		
		.date_select {
			margin:5px 0;
			.dsel{
				width:100%;
				height:22px;
				line-height:22px;
				cursor:pointer;
				margin-bottom:-1px;
				border:1px solid #ccc;
				background:#F4F4F4;
				padding:0px 3px;
				&.active {
					background:#3551A1;
					color:#fff;
				}
			}
		}
	}	
}

#modal_over {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	display:block;
	z-index:100;
}
#modal {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:1000px;
	min-height:200px;
	background:#fff;
	display:block;
	z-index:100;
	margin:49px auto 0;
	padding:3px;
	z-index:1000;
	.box_sizing();
	.radius(5px);
	.box-shadow(3px 3px 3px #666);
	
	&.side {
		.box-shadow(none);
		.radius(0);
		right:7px;
		left:auto;
		top:0;
		height:100%;
		padding-top:30px;
		z-index:3000;
		
		.modal_close {
			right:auto;
			left:-2px;
			top:-7px;
			width:100%;
			border:2px solid #D13E3E;
			background:#D13E3E;
			.radius(3px 3px 0 0);
			font-weight:bold;
			text-transform:uppercase;
			text-align:center;
			line-height:29px;
			color:#fff;
			
			box-sizing:content-box;
			-moz-box-sizing:content-box;
			-webkit-box-sizing:content-box;
			-ms-box-sizing:content-box;
			
			&.fa::before {
				color:#fff;
			}
			.box-shadow(none);
		}
		
	}
	
	.fa {
		&:before {
			font-size:15px;
			color:#666;
			display:block;
			text-align:center;
		}		
	}
	
	.modal_fce {
		width:100%;
		height:27px;
		margin-top:5px;
		background:#4650AA;
		.radius(3px);
		.fa::before {
			color:#AEB3E2;
			font-size:17px;
		}
		.right {
			float:right;
			position:relative;
			.no_confirm_load {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				
			}
		}
		.show_sklad {
			display:inline-block;
		}
		
		.fa {
			text-decoration:none;
			&.driver_confirm {
				cursor:default;
				&.fa-calendar-times-o::before {
					color:#ff0000;
				}
			}
			
			&.fa-calendar-check-o::before {
				color:#77FF90;
			}
			
			&.sended::before {
				.opacity(20);
			}
			&.sklad1::before {
				color:#EAEAC5;
			}
			&.sklad2::before {
				color:#C5EACA;
			}
			&:hover::before {
				color:#fff;
			}
		}
	}
	#modal_load {
		border:0px solid red;
		height:100%;
		&.overflow {
		
			overflow-y:scroll;	
		}
	}
	&.preloader {
		background:#fff url('/css/validation/preloader_load.gif') no-repeat center center;
	}
	.modal_close {
		cursor:pointer;
		position:absolute;
		top:-20px;
		right:-20px;
		width:30px;
		height:30px;
		.radius(15px);
		background:#fff;
		.box-shadow(2px 2px 2px #666);
		&.fa{
			&:before {
				font-size:20px;
				color:#000;
				line-height:30px;
				display:block;
				text-align:center;
			}
		}
	}
}

table.table {
	width:100%;
	tr {
		th,td {
			padding:3px;
			
			.button {
				margin:0;
			}
		}
		th {
			font-weight:bold;
		}
	}
}

.element_drag {
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ccc;
	padding:0 5px;
	.box_sizing();
	display:inline-block;
	z-index:100;
	width:98%;
	margin:auto;
	left:0;
	top:0;
	position:relative;
	&.even {
		background:#F2F7FF;
	}
	&:hover {
		background:#EFF3F8;
	}
	&.is_ridic {
		background:#EFF3F8;
		.name2 {
			font-weight:bold;
		}
	}
	
	&.loaded {
		.opacity(70);
		.modal_fce {
			/*background:#666 !important;*/
		}
	}
	
	&.unloaded {
		.opacity(70);
		.modal_fce {
			background:#666 !important;
		}
	}
	
	&.zakazky_list,&.driver_list {
		min-height:50px;
		height:auto;
		font-size:11px;
		line-height:17px;
		padding-bottom:5px;
		label {
			display:inline-block;
			margin:0 5px 0 0;
			font-weight:bold;
		}
		.sll,.slr {
			label {
				width:32%;
			}
		}
		.price {
			position:absolute;
			top:5px;
			left:40px;
		}
		.anomalie {
			margin-top:5px;
		}
		.line {
			height:5px;
			display:block;
			width:100%;
		}
		
		.name {
			position:absolute;
			top:5px;
			right:5px;
			color:#666;
		}
		.zakazka_id {
			position:absolute;
			top:30px;
			right:2px;
			color:#ccc;
		}
		.handle_sort {
			cursor:n-resize;
			width:20px;
		}
		.detail_hover {
			font-size:11px;
			position:fixed;
			width:400px;
			background:#EFF3F8;
			border:1px solid #ccc;
			.radius(5px 0px 0px 5px);
			padding:5px;
			.box-shadow(3px 3px 3px #ccc);
			
			
			fieldset {
				border:1px solid #ccc;
				padding:3px;
				position:relative;
				legend {
					color:#3B539F;
					font-weight:bold;
					margin:2px;
					padding:0 5px;
				}
				label {
					width:35%;
				}
			}
			.show_map {
				position:absolute;
				top:-5px;
				right:2px;
				padding:0 5px;
			}
			#show_map {
				position:absolute;
				top:0px;
				left:-400px;
				width:400px;
				height:250px;
				z-index:100;
				padding:3px;
				border:1px solid #ccc;
				background:#fff url('/css/validation/preloader_load.gif') no-repeat center center;
				
			}
		}
		&.first {
			/*
			.detail_hover {
				bottom:auto;
				top:0;
			}
			*/
		}
	}
	
	&.driver_list {
		font-size:13px;
		min-height:30px;
	}
	
	&.car_list {
		height:auto;
		min-height:50px;
		ul {
			margin:0 0px 0 17px;
			li {
				border-bottom:0;
				.name {
					font-weight:normal;
					
				}
			}
		}
	}
	
	span {
		&.name {
			font-weight:bold;
			position:absolute;
			top:0px;
			left:49px;
		}
		&.number {
			position:absolute;
			top:0px;
			right:0px;
			font-size:11px;
			color:#666;
		}
		&.sklad_id {
			position:absolute;
			top:6px;
			right:20px;
			font-size:11px;
			color:#666;
		}
		&.sklad2_id {
			position:absolute;
			top:0px;
			right:60px;
			font-size:11px;
			color:#666;
		}
		&.spz {
			position:absolute;
			top:0px;
			right:0px;
			font-size:11px;
			color:#666;
		}
		&.type {
			position:absolute;
			top:18px;
			right:0px;
			font-size:11px;
			color:#666;
		}
	}
						
}

.drag_relative {
	height:30px;
	position:relative;
	width:100%;
	
}
.noresult {
	margin:10px;
	background:#E8E8E8;
	padding:5px;
	.radius(3px);
	text-align:center;
}

.delete_zakazka,.delete_driver {
		text-decoration:none
		&.fa {
			&:before {
				font-size:20px;
				color:#fff;
				display:block;
				text-align:center;
			}		
		}
}


#dashboard_kos {
	position:relative;
	top:0;
	right:0;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#4650AA;
	color:#fff;
	font-size:15px;
	.radius(5px);
	margin:10px auto;
	&.can_drop {
		background:#CF3E3E;
	}
}

#history_preloader {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.5) url('/css/validation/preloader_load.gif') no-repeat center center;
	
}
#select_dispecer {
	background:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0;
	z-index:199;
	div {
		position:absolute;
		width:200px;
		top:10px;
		left:0;
		background:#fff;
		.box-shadow(3px 3px 3px rgba(0,0,0,0.2));
		line-height:50px;
		margin:auto;
		text-align:center;
		z-index:200;
		.radius(3px);
		select {
			width:94%;
			margin:0;
			height:40px;
			.radius(3px);
			border:1px solid #666;
			
		}
		div.close {
			position:absolute;
			top:-5px;
			left:auto;
			right:-26px;
			cursor:pointer;
			font-family:'Font Awesome\ 5 Free';
			width:25px;
			height:25px;
			line-height:21px;
			&:before {
				
				font-size:20px;
				color:#000;
			}
		}
	}
}
.fst_drag {
	z-index:150;
}	
#OrderForm {
	padding:0;
}

#logged_info {
	position:fixed;
	top:0px;
	padding:2px 5px;
	right:0px;
	width:249px;
	z-index:200;
	z-index:0;
	font-size:10px;
	line-height:12px;
	color:#fff;
	text-align:right;
	padding-right:82px;
	z-index:100;
	&.normal {
		width:auto;
		top:0px;
		color:#fff;
		var,a {
			color:#fff;
		}
		span.fa {
			&:before {
				color:#fff;
			}
		}
	}
	
	var {
		font-style:normal;
		font-size:9px;
		color:#fff;
	}
	
	span.fa {
		position:absolute;
		top:-2px;
		right:4px;
		margin:0;
		padding:0;
		display:inline-block;
		&:before {
			color:#fff;
			font-size:13px;
		}
	}
	
	a {
		position:absolute;
		top:8px;
		right:20px;
		color:#fff;
		font-size:13px;
		
	}
	
}

#context_menu {
	position:fixed;
	width:auto;
	background:#F4F4F4;
	z-index:10000;
	border:1px solid #ccc;
	.radius(3px);
	
	li {
		list-style-type:none;
		margin:0;
		padding:5px;
		cursor:pointer;
		&:hover {
			color:#fff;
			background:#3B539F;
		}
	}
}


.fst_ch_obal {position:absolute;left:30px;top:9px;display:inline-block;vertical-align:top;
	.fst_ch {
		font-family:'Font Awesome\ 5 Free';
		color:#fff;vertical-align:top;
		font-size:15px;
		width:20px;height:20px;text-align:center;line-height:20px;
		margin:0px;border:1px solid #000;	
		position:relative;
		.radius(5px);
		cursor:pointer;
		&.active {color:#BA3836;background:#fff;}
	}
	.checkbox {position:absolute;left:-50px;display:none;}
}




.message_done {
	font-size:15px;
	text-align:center;
	width:90%;
	margin:70px auto 0;
	padding:10px;
	.radius(5px);
	position:relative;
	background:#D13E3E;
	color:#fff;
	line-height:20px;
	table {
		display:inline-block;
		tr {
			td,th {
				border:0;
			}
			th {
				font-weight:bold;
			}
		}
	}
}

#push_over {
	position:fixed;
	left:0;
	bottom:0;
	.button {
		margin:0;
	}
}

.show_address {
	position:relative;
	width:100%;
	height:200px;
	display:block;
	clear:both;
	#show_map {
		width:100%;
		height:100%;
		position:absolute;
		background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
				
	}
}
.close_map {
	position:relative;
	top:-25px;
	
}

#show_side_map {
	position:fixed;
	top:20px;
	background:#EFF3F8;
	left:0;
	width:80%;
	height:100%;
	z-index:1000;
	#show_side_map_inject {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
	}
	#show_side_map_close {
		position:absolute;
		top:-10px;
		right:-10px;
		width:40px;
		height:40px;
		line-height:35px;
		background:#fff;
		.radius(20px);
		z-index:1001;
		font-weight:bold;
		font-size:28px;
		cursor:pointer;
		border:1px solid #ccc;
		text-align:center;
		color:#ff0000;
	}
}


.pozor_problem {color:#ff0000 !important;}
.read {border:1px solid red !important;}


#fst_modal {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	background:#fff;
	padding:10px 35px 10px 10px;
	.box_sizing();
	
	.fst_modal_close {
		position:absolute;
		top:0;
		right:0;
		width:30px;
		height:30px;
		cursor:pointer;
		text-align:center;
		background:#fff;
		
	}
}

.products_group_side {
	position:relative;
}

.switch_group_tab {
	position:relative;
	width:100px;
	text-align:center;
}
.product_group_list {
	
	position:relative;
	float:left;
	width:14%;
	margin:55px 1% 0 0;
	
	&#product_group_list_sub {
		float:none;
		width:90%;
		margin:0;
		li {
			width:90px;
		}
	}
	li {
		display:inline-block;
		width:100%;
		height:40px;
		border:1px solid #ccc;
		background:#efefef;
		color:#000;
		margin:1px;
		padding:5px;
		.box_sizing();
		cursor:pointer;
		.radius(3px);
		font-size:11px;
		line-height:15px;
		
		
		&.back {
			color:#000;
			background:#ccc;
		}
		
		&:hover,&.active {
			color:#fff;
			background:#b23535 !important;
			border-color:#000;
		}
		
		ul.product_group_list_sub {
			position:absolute;
			top:-62px;
			left:107%;
			width:100%;
			margin:0;
			background:#fff;
			
			li {
				display:inline-block;
				width:90px;
				font-size:12px;
				line-height:15px;
				
			}
		}
		
	}
}


#product_list {
	border:0px solid #E5E5E5;
	width:84%;
	overflow-y:auto;
	margin:38px 0 0 0;
	
	.product_group {
		width:100%;
		padding:0 5px;
		.box_sizing();
		height:15px;
		line-height:15px;
		background:#FFD452;
		color:#4F3324;
		font-size:11px;
		font-weight:bold;
		.radius(3px);
	}
	
	.product_addons {
		position:absolute;
		top:-1px;
		left:-1px;
		z-index:10;
		background:#fff;
		
		
	}
	
	.product {
		display:inline-block;
		vertical-align:top;
		border:1px solid #FFE3D6;
		width:100px;
		height:50px;
		margin:2px;
		padding:3px;
		.box_sizing();
		position:relative;
		cursor:pointer;
		background:#FFF1EA;
		
		&.back_product, &.without_addon {
			background:#efefef;
			
		}
		
		&:hover {
			background:#FFE38F;
		}
		.name {
			font-size:11px;
			pointer-events:none;
		}
		
		.price {
			font-size:11px;
			position:absolute;
			bottom:3px;
			right:3px;
			color:#AD2929;
			pointer-events:none;
		}
		.num {
			position:absolute;
			bottom:3px;
			left:3px;
			font-size:12px;
			pointer-events:none;
		}
	}
	
}

.hide_price {
	display:none;
}
#basket_products {
	@basket_font_size: 11px;
	width:100%;
	position:relative;
	z-index:0;
	&.preloader {
		background:transparent url('/css/validation/preloader_load.gif') no-repeat center center;
		tr {
			.opacity(50);
		}
	}
	.note {
		width:280%;
		position:relative;
		margin-top:12px;
		textarea {
			width:67%;
		}
		.more {
			z-index:100;
			width:25px;
			height:25px;
			display:inline-block;
			line-height:25px;
			text-align:center;
			vertical-align:top;
			background:#ccc;
			cursor:pointer;
			position:absolute;
			margin-left:2px;
			&.active {
				background:#B23535;
				color:#fff;
			}
		}
		.more_show {
			label {
				display:inline-block;
				margin:0;
				line-height:11px;
				float:none;
				width:20%;
			}
		}
	}
	
	.col_name {
		white-space:nowrap;
		width:50%;
		cursor:pointer;
		padding-left:3px;
		.detail {
			text-decoration:underline;
			font-size:11px;
			&.active {
				color:#B23535;
			}
		}
	}
	#basket_noproducts {
		td {
			text-align:center;
		}
	}
	.col_ks {
		width:30px;
	}
	.col_price {
		width:100px;
		text-align:right;
		padding-right:10px;
	}
	.col_pos {
		text-align:right;
	}
	.col_num {
		width:20px;
	}
	tr {
		&.tr_addon {
			.col_name {
				padding-left:30px;
				color:#666;
			}
		}
		&.parser {
			.col_parser {
				padding-left:5px;
				font-weight:bold; 
			}
		}
		th {
			font-weight:bold;
			font-size:@basket_font_size;
			border:0;
		}
		td {
			padding:4px 0;
			line-height:12px;
			position:relative;
			font-size:@basket_font_size;
			
			.ks_input {
				width:39px;
				font-size:@basket_font_size;
				text-align:center;
				border:1px solid #ccc;
				.radius(3px);
				margin:0;
			}
			
			.button {
				width:57px;
				height:25px;
				margin:0;
				padding:0;
				font-size:9px;

				&.zdarma_button {
					background:#75CE5F;
					right:5px;
					top:4px;
					position:absolute;
					&:hover {
						background:#64BF4E;
					}
				}
				&.delete_button {
					width:26px;
				}
			}
		}
		&.header {
			background:transparent;	
			th {
				&:first-child {
					.radius(3px 0 0 0);
					border:0;
				}
				&:last-child {
					.radius(0px 3px 0 0);
				}
				background:#E0E0E0;
				color:#000;
				padding:3px 5px;
				&.col_price {
					padding-right:11px;
				}
				&.col_ks {
					text-align:center;
				}
			}
		}
		&.table_total {
			th {
				background-color:#FFF1EA;
				vertical-align:middle;
				padding:3px 5px;
				font-size:@basket_font_size;
			}
			td {
				padding:3px 5px;
				background-color:#FFF1EA;
				font-size:15px;
				white-space:nowrap;
				
			}
		}
	}
}
.buttons {
	text-align:center;
	
	.btn2 {
		display:inline-block;
		margin:0 3px;
	}
	#CloseModalOrder {
		background:#ccc;
		color:#000 !important;
	}

}

#basket_pay,#stul_rozdelit {
	position:fixed;
	top:-10px;
	right:0;
	width:100%;
	height:100%;
	background:#efefef;
	padding:5px;
	.box_sizing();
	text-align:center;
	margin-top:40px;
	.co {
		display:inline-block;
		border:1px solid #ccc;
		min-height:100px;
		vertical-align:top;
	}
	#pay_top,#stul_top {
		width:100%;
		margin-bottom:5px;
		text-align:right;
		.button {
			display:inline-block;
			margin-bottom:0;
		}
	}
	
	#pay_products,#stul_products {
		background:#fff;
		width:36%;
		padding-top:10px;
		/*
		.product {
			background:#ccc;
			color:#000 !important;
			&.active {
				color:#fff !important; 
				background:#B23535;
			}
		}
		*/
	}
	#pay_bill {
		width:45%;
		background:#fff;
		text-align:left;
		padding:10px;
		.box_sizing();
		position:relative;
		&.empty {
			&:before {
				content:'Vyberte položky k zaplacení';
				position:absolute;
				top:12px;
				left:0;
				right:0;
				margin:auto;
				width:200px;
			}
		}
		ul {
			background:#fff;

			li {
				list-style-type:none;
				line-height:15px;
				cursor:pointer;
				padding:3px 0;
				&:hover {
					background:#efefef;
				}
				&.addon {
					
					span {
						color:#666;
						&.name {
							padding-left:15px;
						}
					}
				}
				span {
					pointer-events:none;
					display:inline-block;
					width:33%;
					font-size:12px;
					vertical-align:top;
					&.count {
						width:10%;
					}
					&.name {
						width:53%;
					}
					&.addon_name {
						width:auto;
					}
					&.price {
						text-align:right;
					}
				}
			}
		}
		
		div#bill_total {
			margin:10px 8px 0 0;
			font-size:15px;
			span {
				font-size:15px;
				float:right;
			}
		}
	}
	
	#pay_fce,#stul_fce  {
		width:18%;
		position:relative;
		
	}
	.pay_fce_field {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		.button {
			display:inline-block;
			margin-bottom:0;
			width:100%;	
		} 
	}
	
	
}

#orders_over {
	height:100%;
	overflow:hidden;
	#order_top_menu,#order_top_menu2 {
		width:100%;
		height:30px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,8f0222+56,a90329+100 */
		background: #6d0019; /* Old browsers */
		background: -moz-linear-gradient(top,  #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		margin-bottom:10px;
		li {
			display:inline-block;
			a {
				height:30px;
				line-height:30px;
				display:block;
				color:#fff;
				background:#74001B;
				white-space:nowrap;
				padding:0 3px;
				text-decoration:none;
				.noselect();
				&:hover ,&.active {
					background:#B23535;
				}
				
			}
		}
	}
	#order_top_menu2 {
		position:fixed;
		right:261px;
		top:0px;
		width:auto;
	}	
	.col {
		display:inline-block;
		vertical-align:top;
		&.first {
			width:12%;
			margin-top:-8px;
		}
		&.second {
			width:63%;
			margin-left:0%;
			position:relative;
		}
		&.third {
			width:24%;
			margin-left:0%;
			background:#efefef;
			position:relative; 
			height:100%;
		}
	}
}

#test {
	position:absolute;
	top:50px;
}


#table_list,#table_list_switch {
	margin:2px;
	li {
		list-style-type:none;
		line-height:40px;
		height:40px;
		width:100%;
		background:#fff1ea;
		border:1px solid #EDD2C4;
		.radius(3px);
		position:relative;
		margin:2px 0px;
		text-align:center;
		cursor:pointer;
		
		
		&.TableId0 {
			background:#efefef;
			margin-top:10px;
			border:1px solid #ccc;
		}
		
		&:hover,&.active {
			background:#B23535;
			color:#fff;
			.radius(3px);
			span {
				color:#fff;
				pointer-events:none;

			}
		}
		&.active_other {
			color:#ccc;
		}
		
	}
}
#basket_products_obal {
	overflow:hidden;
}
#basket_products {
	width: 100%;
    display:flex;
	flex-flow: column;
	tr {
		width:100%;
		display: table;
	}
	thead {
		flex: 0 0 auto;
		width: calc(100% - 0.9em);
	}
	tfoot {
		display: inline-block;
		width: 100%;
	}
	tbody {
		flex: 1 1 auto;
		display: block;
		overflow-y: scroll;
		overflow-x: none;
	}
}
#table_list {
	margin: 2px 0 0 0;
	height:200px;
	overflow-x:none;
	overflow-y:auto;
	
	li {
		line-height:30px;
		height:30px;
		
		
		span.name {
			position:absolute;
			top:-1px;
			left:6px;
			font-size:11px;
		}
		span.cnt {
			position:absolute;
			bottom:0px;
			right:2px;
			font-size:9px;
			color:#666;
		}
		
		&:hover,&.active {
			span {
				color:#fff;
			}
		}
	}
}

#table_list_switch {
	margin:0;
	text-align:center;
	li {
		width:auto;
		
		font-size:9px;
		display:inline-block;
		/*background:#FFD452;*/
		margin:1px 0.5px;
		padding:0 5px;
		font-size:10px;
		height:30px;
		line-height:30px;
	}
}
#basket_change_ks {
	position:fixed;
	top:0%;
	left:0;
	right:0;
	bottom:0;
	width:200px;
	height:130px;
	background:#fff;
	margin:auto;
	text-align:center;
	z-index:10;
	padding-top:10px;
	#ChangeKs {
		margin-bottom:15px;
		background:#efefef;
		border:1px solid #ccc;
		padding:3px 0;
		height:36px;
		font-size:20px;
		text-align:center;
		
		
	
		&::-webkit-outer-spin-button, 
		&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				background: #ccc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
				border-left: 1px solid #666;
				opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
				position: absolute;
				top: -10px;
				right: 0;
				bottom: 0;
				width:50px;
				height:36px;
		}
	}
	strong {
		font-size:15px;
		margin-bottom:10px;
		display:block;
	}
	
	&::before {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:-1;
		background:rgba(0,0,0,0.5);
		content:'';
	}
	
	&::after {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		background:#fff;
		content:'';
		z-index:-1;
		width:200px;
		height:130px;
	}
}

.order_modal {
	width:800px;
	height:100%;
	position:fixed;
	top:10px;
	left:0;
	right:0;
	margin:auto;
	z-index:10;
	background:#fff;
	padding:5px;
	
	.order_modal_close {
		position:absolute;
		top:-20px;
		right:-50px;
		width:50px;
		height:50px;
		cursor:pointer;
		text-align:center;
		line-height:50px;
		background:#fff;
		font-size:33px;
	}
	
	strong {
		font-size:20px;
	}
	
	
	&::before {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:-1;
		background:rgba(0,0,0,0.5);
		content:'';
	}
	
	&::after {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		background:#fff;
		content:'';
		z-index:-1;
		width:800px;
		height:100%;
	}
}

#basket_function {
	width:98%;
	margin:auto;
	li {
		display:inline-block;
		width:49%;
		button {
			height:35px;
			line-height:35px;
			padding:0 8px;
			margin:0;
			width:100%;
		}
		.zaplatit {
			background:#67BA4C;
			&:hover {
				background:#3B8224;
			}
		}
		.ukoncit {
			background:#5155C6;
			&:hover {
				background:#23267F;
			}
		}
	}
}


#order_footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	background:#FFF1EA;
	.button{
		padding:0 5px;
		height:31px;
		line-height:31px;
	}
	.m_left {
		float:left;
		margin-left:5px;
		li {
			display:inline-block;
			list-style-type:none;
			
		}
	}
	#showFooterMenu {
		float:right;
		margin-right:20px;
	}
	#footer_order_menu {
		position:fixed;
		bottom:30px;
		right:0;
		background:#fff;
		list-style-type:none;
		padding:3px;
		z-index:100;
		li {
			.button {
				width:100%;
			}
		}
	}
	
}

#notable_select {
	text-align:center;
	padding:5px 0;
}

#basket_product_detail {
	position:fixed;
	top:50px;
	left:0;
	right:0;
	margin:auto;
	width:45%;
	min-height:100px;
	border:1px solid #ccc;
	padding:10px;
	z-index:1000;
	.radius(3px);
	.box-shadow(3px 3px 3px #ccc);
	background:#fff;
	
	textarea {
		width:100%;
	}
	
	#basket_product_detail_close {
		position:absolute;
		cursor:pointer;
		.radius(3px);
		top:-15px;
		right:-15px;
		background:#B23535;
		padding:5px 10px;
		border:1px solid #ccc;
		font-size:20px;
		color:#fff;
		z-index:10;
	}
	.product_detail {
		width:80%;
		margin:auto;
		tr {
			td, th {
				text-align:left;
			}
			th {
				font-weight:bold;
			}
		}
	}
}


#login_ciselnik {
	text-align:center;
	margin:0 0 10px 0;
	li {
		background:#ccc;
		cursor:pointer;
		display:inline-block;
		text-align:center;
		width:80px;
		height:60px;
		line-height:60px;
		font-size:25px;
		margin:1px;
	}
}

.checkbox_list {
	.checkbox {
		width:25px;
	}
}
.select_all_fieldset {
	font-size:11px;
	margin-left:10px;
}

.big_modal {
	.filtr {
		padding:10px;
		div.input {
			display:inline-block;
			vertical-align:top;
			width:25%;
		}
	}
	.content{
		/*width:950px;*/
		width:100%;
		height:100%;
		position:absolute;
		top:0px;
		left:0;
		right:0;
		margin:auto;
		background:#fff;
		z-index:1000;
		
	}
	.content_in {
		
		padding:10px;
		min-height:80px;
		height:100%;
		overflow-x: hidden;	
		overflow-y:auto;
		max-height:100%;
		&.preloader {
			background-image:url('/css/validation/preloader_load.gif');
			background-position: center center;
			background-repeat: no-repeat;
				
		}
	}
	
}
.over {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
		background:rgba(0,0,0,0.5);
		content:'';
}

.pay_modal {
	width:300px;
	height:200px;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background:#fff;
	text-align:center;
	padding:15px;
	.box_sizing();
	
	&#modal_printer_setting {
		width:800px;
		height:500px;
		overflow-y:auto;
		&::after {
			width:800px;
			height:500px;
		}
		ul {
			margin:auto;
			text-align:left;
			li {
				list-style-type:none;
				ul {
					margin:3px 0 0 10px;
				}
			}
		}
		select {
			float:right;
		}
	}	
	
	input.text {
		height:40px;
		margin:10px 0;
	}
	
	&::before {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:-1;
		background:rgba(0,0,0,0.5);
		content:'';
	}
	
	&::after {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		background:#fff;
		content:'';
		z-index:-1;
		width:300px;
		height:200px;
	}
	
}

.big_modal_close,.pay_modal_close {
		cursor:pointer;
		position:absolute;
		top:0px;
		right:0px;
		width:40px;
		height:40px;
		line-height:40px;
		text-align:center;
		font-weight:bold;
		z-index:2;
		background:#ff0000;
		color:#fff;
		padding:0 10px;
}
.header_top {
	height:50px;
	width:100%;
}
#draw_canvas {
	margin:0px 0 10px 10px;
	width:1000px;
	height:500px;
	border:1px solid #666;
	position:relative;
	display:inline-block;
	
	p {
		text-align:center;
		margin-top:20%;
	}
	
	.canvas_group {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:#efefef;
		
		.label {
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
			height:20px;
			text-align:center;
			width:100%;
			font-size:15px;
		}
	}
	
	.table {
		position:absolute;
		top:0px;
		left:0px;
		width:100px;
		height:100px;
		background:#ccc;
		
		&:before {
			border: 1px solid #666;
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}
		
		.name {
			text-align:center;
			padding-top:5px;
			.noselect();
			
			pointer-events:none;
		}
		.res {
			width:10px;
			height:10px;
			position:absolute;
			bottom:-5px;
			right:-5px;
			background:#fff;
			border:1px solid #666;
			cursor:nw-resize;
		
			
		}
		.del {
			font-family:'Font Awesome\ 5 Free';
			position:absolute;
			bottom:0;
			left:0;
			width:20px;
			height:20px;
			line-height:20px;
			text-align:center;
			cursor:pointer;
		}
		.move {
			width:100%;
			height:100%;
			position:absolute;
			top:0px;
			left:0px;
			cursor:move;
		
		}
	}
}

#canvas_list {
	margin:0px 0 20px 10px;
	display:inline-block;
	vertical-align:top;
	#group_select {
		li {
			display:inline-block;
			list-style-type:none;
			border:1px solid #ccc;
			padding:5px 10px;
			background:#efefef;
			cursor:pointer;
			&.active {
				background:#B23535;
				color:#fff;
			}
			
		}
	}
	
	.table {
		display:block;
		border:1px solid #ccc;
		padding:5px 10px;
		margin:2px;
		cursor:pointer;
		&:hover {
			background:#B23535;
			color:#fff;
		}
	}
	.del {
		display:none;
	}
	.move,.res,.name {
		
		pointer-events:none;
	}
}

#map_table {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	
	#map_table_in {
		position:fixed;
		top:10%;
		width:1000px;
		border:10px solid #fff;
		height:500px;
		background:#fff;
		left:0;
		right:0;
		margin:auto;
		display:block;
		.label {
			width:100%;
			font-weight:bold;
			color:#666;
		}
		.table {
			position:absolute;
			border:1px solid #666;
			background:#ccc;
			cursor:pointer;
			.name {
				text-align:center;
				margin-top:10%;
			}
			.cnt {
				position:absolute;
				bottom:3px;
				right:3px;
				color:#ff0000;
				font-size:12px;
			}
			&.active {
				background:#B23535;
				.name,.cnt {
					color:#fff;
				}
			}
		}
	}
	
}
#current_time {
	position:absolute;
	top:2px;
	font-weight:bold;
	left:0%;
	right:0%;
	margin:auto;
	text-align:center;
	width:150px;
	font-size:10px;
	color:#fff;
	
}
#terminal_name {
	position:absolute;
	top:15px;
	font-weight:normal;
	left:0%;
	right:0%;
	margin:auto;
	text-align:center;
	width:150px;
	font-size:10px;
	color:#fff;
	
}

#product_parser {
	position:absolute;
	right:6px;
	top:-6px;
	li {
		display:inline-block;
		.radius(3px);
		border:1px solid #ccc;
		padding:12px 3px;
		cursor:pointer;
		font-size:11px;
		&:hover {
			background:#B23535;
			color:#fff;
		}
	}
}

#stul_rozdelit {
	.stul_col {
		width:50px;
		display:inline-block;
		border:0px solid red;
		position:relative;
		vertical-align:top;
		height:calc(~"100% - 99px");
		overflow-x:none;
		overflow-y:auto;
		
		&.lft,&.rght {
			width:14%;
			li {
				width:47%;
				vertical-align:top;
				display:inline-block;
				list-style-type:none;
				border:1px solid #666;
				padding:0 5px;
				margin:2px 2px;
				height:30px;
				line-height:30px;
				font-size:10px;
				.radius(3px);
				cursor:pointer;
				
				&:hover,&.active {
					background:#B23535;
					color:#fff;
				}
				
				.name {
					pointer-events:none;
					font-size:10px;
				}
				.cnt {
					display:none;
				}
				
			}
		}
		&.lft_product,&.rght_product {
			width:35%;
			/*
			.product {
				background:#ccc;
				color:#000 !important;
				&:hover,&.active {
					background:#B23535;
					color:#fff !important;
				}
			}
			*/
			.itms {
				&:before {
				content:"Vyberte stůl";
				position:absolute;
				top:15px;
				left:0;
				width:100%;
				text-align:center;
				z-index:-1;
				}
				&.empty {
					&:before {
						content:'Stůl je prázdný';
					}
				}
			}
			.select_all {
				position:absolute;
				right:0;
				top:-43px;
				border:1px solid #666;
				background:#ccc;
				padding:10px;
				.radius(3px);
				cursor:pointer;
				&.active ,&:hover{
					background:#B23535;
					color:#fff !important;
				}
			}
		}
	}
}

#stul_products_list {
	li {
		list-style-type:none;
		&.product {
			color:#000 !important;
			&.active {
				color:#fff !important; 
				background:#B23535;
			}
		}		
	}
}

.keyboard {
	position:fixed;
	bottom:0;
	left:0;
	z-index:10000;
	width:100%;
	height:300px;
	background:#fff;
	padding:4px;
	.keyboard_close {
		position:absolute;
		top:-54px;
		left:0;
		background:#ccc;
		padding:20px;
		cursor:pointer;
	}
	.keys_fce {
		display:block;
		top:0;
		right:-200px;
		position:absolute;
		.key_but {
			text-transform:uppercase;
			width:100px;
			padding:10px;
			
		}
	}
	.keys_items {
		position:relative;
		margin:auto;
		display:block;
	}
	.key_but {
		text-align:center;
		display:inline-block;
		border:1px solid #ccc;
		padding:30px;
		.box_sizing();
		margin:2px;
		.radius(2px);
		cursor:pointer;
		background:#FFF1EA;
	}
	&#keyboard_num {
		.keys_items {
			width:300px;
			height:300px;
		}
	}
}

.default_printer_list {
	list-style-type:none;
}
#printer_list {
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	width:200px;
	li {
		list-style-type:none;
		border-bottom:1px solid #ccc;
		padding:3px;
		cursor:pointer;
		&:hover {
			background:#efefef;
		}
	}
}

@ucet_size: 12px;

#print_ucet,#print_order_part {
	width:58mm;
	border:0px solid red;
	position:fixed;
	bottom:25px;
	left:-500px;
	background:#fff;
	z-index:10000;
	font-size:@ucet_size;
	
}

#printer_prod_group {
	height:409px;
	overflow-y:scroll;
	ul {
		margin:0 0 0 0px;
		li {
			div {
				padding-left:20px;
			}
			ul {
				li {
					div {
						padding-left:40px;
					}
				}
			}
		}
	}
	li {
		list-style-type:none;
		text-align:left;
		position:relative;
		min-height:30px;
		line-height:30px;
		div {
			border-bottom:1px solid #ccc;
			&:hover{
				background:#efefef;
			}
		}
		.back {
			display:none;
		}
		.printer_list {
			position:absolute;
			top:3px;
			right:2px;
			width:400px;
		}
	}
}

#websocket_status {
	position:fixed;
	bottom:31px;
	left:0;
	right:0;
	margin:auto;
	width:100%;
	height:22px;
	color:#fff;
	text-align:center;
	line-height:22px;
	width:250px;
	font-size:11px;
	&.success {
		background:#2F7F30;
	
	}
	&.failed {
		background:#ff0000;
	
	}
}

#orders_sumace {
	margin:5px;
	tr {
		td,th {
			font-size:11px;
			padding:3px;
		}
	}
}

#orders_list {
	width:100%;
	
	tr {
		th,td {
			font-size:11px;
			border-bottom:1px solid #ccc;
			padding:3px;
			&.price {
				text-align:right;
			}
			&.text_right {
				text-align:right;
			}
			&.text_center {
				text-align:center;
			}
			
			input.button {
				margin:0;
				padding:0 5px;
				width:auto;
				font-size:9px;
			}
			table {
				margin-top:15px;
				width:97%;
				background:#fff;
			}
			
		}
		&:hover {
			td {
				background:#EFEFEF;
				table {
					tr {
							
						th {
							background:#FFF1EA;
						}
						td {
							background:#F4F4F4;
						
						}
						&:hover {
							td {
								background:#D1D1D1;
							}
						}
					}
				}
			}
		}
		th {
			font-weight:bold;
		}
	}
	
		
}

#uzaverkas {
	height:100%;
	.button {
		margin:2px 0;
		width:100%;
	}
	.sl_left {
		width:200px;
		margin-right:5px;
		display:inline-block;
		vertical-align:top;
	}
	.sl_right {
		width:275px;
		display:inline-block;
		vertical-align:top;
	}
	/*
	.sll {
		width:30%;
	}
	.slr {
		width:69%;
	}
	*/
	.sll {
		width:66%;
		height:100%;
	}
	.slr {
		height:100%;
		width:33%;
		div.relative {
			height:100%;
		}
	}
	#iframe_preloader {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(255,255,255,0.5) url('/css/validation/preloader_load.gif') no-repeat center center;
				
	}
	#uzaverkas_frame {
		width:8cm;
		height:100%;
		border:1px solid #ccc;
		overflow-y:scroll;
		text-align:center;
		position:relative;
		padding:5px;
		font-size:11px;
		table{
			tr {
				td {
					font-size:11px;
				}
			}
		}
		.txt {
			color:#666;
			font-size:13px;
			position:absolute;
			top:20%;
			left:0;
			right:0;
			margin:auto;
			text-align:center;
		}
		#obal {
			background:#fff;
		}
	}
	#uzaverka_list {
		margin-top:10px;
		height:93%;
		overflow-y:auto;
		.button {
			margin:0;
			padding:0 5px;
			display:inline-block;
		}
		tr {
			th,td {
				font-size:11px;
			}
		}
	}
}

#table_over {
	position:relative;
	height:500px;
	overflow-y:auto;
}



.fixed_left,.fixed_top {
	position:relative;
	background:#fff;
	z-index:10;
}
.fixed_top {
	z-index:11;
}

#open_smena_over {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	#open_smena {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		width:200px;
		height:100px;
		
	}
}

#tableName {
	background:#4F3324;
	color:#fff;
	padding:5px !important;
}
span.addon_name {
	color:#ccc;
	font-size:12px;
}
.product_list_bill {
	background:#fff;
	padding:5px;
	border:1px solid #efefef;
	
	.product {
		cursor:pointer;
		background:#fff;
		border:0px;
		border-bottom:1px solid #ccc;
		padding:2px 2px 2px 5px;
		color:#000 !important;
		text-align:left;
		.radius(0);
		margin:0;
		line-height:21px;
		height:25px;
		text-transform:none;
		font-weight:normal;
		width:100%;
		&.active {
			background:#e2e2e2 !important;
			border-bottom:1px solid #ccc;
		}
		&:hover,&:focus {
			background:#efefef !important;
			
		}
		span {
			&.price {
				float:right;
				text-align:right;
			}
		}
	}	
}

#intro {
	margin-top:50px;
	position:relative;
	text-align:center;
	.link {
		display:inline-block;
		width:200px;
		height:100px;
		line-height:100px;
		
	}
}
#fst_history {
	display:inline-block;
	width:calc(~"100% - 220px");
}
#print_html {
	width:7cm;
}
#sklad_stav_report {
	text-align:center;
	table {
		margin:auto;
		tr {
			td,th {
				padding:4px;
				font-size:11px;
			}
			th {
				font-weight:bold;
			}
			&:hover {
				td {
					background:#efefef;
				}
			}
		}
	}
}
.searchable {
	width:100%;
	position:relative;
}


#isUpdate {
  position:fixed;
  z-index:1000;
  div.content {
    background:#ff0000;
    color:#fff;
    text-align:center;
    font-size:1.2rem;
    padding:10px;
    position:fixed;
    top:20px;
    left:0;
    width:100%;
    z-index:2000;
   
  }
  &:after {
    z-index:-1;
    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.7);
    content:'';
    width:100%;
    height:100%;
  }
}