@font_size: 12px;
body {font-family:arial;padding:0;margin:0;font-size:@font_size;line-height:@font_size;}
h1 {color:#ff0000;}

iframe {
	display:none !important;
}
div.ha {
	display:none !important;
}

@page {
	margin:5px;
}
#obal {
	width:6.7cm;
	page-break-after:always;
	border:1px solid #ccc;
	margin:auto;
}
.text_right {text-align:right;}
table {
	border-collapse:collapse;
	width:100%;
}
table tr th {
	font-size:@font_size;
	text-align:left;
	padding:3px;
	border-bottom:1px dotted #000;
}
table tr.bottom td {
	border-top:1px dotted #000;
}
table tr td {
	padding:3px;
	font-size:@font_size;
}

#ucet {
	width:100%;
}
#ucet .logo {
	margin:5px auto 10px;
	display:block;
	max-width:80%;
	text-align:center;
	
}
#ucet .hr {
	width:90%;
	margin:5px auto;
	border-top:1px solid #000;
	
}
#ucet .header {
	display:block;
	width:100%;
	text-align:center;
	font-size:@font_size;
}

.text_right {
	text-align:right;
}

#ucet .footer {
	text-align:center;
	font-size:@font_size;
	margin-top:10px;
}
#ucet .copyright {
	text-align:center;
	font-size:6px;
	line-height:@font_size;
}
#ucet table.total tr th{
	font-size:@font_size;
	padding-top:10px;
	padding-bottom:10px;
	border:0;
}
#ucet table.total tr th.text_right{
	text-align:right;
}

.group_name {
	font-weight:bold;
	font-size:13px;
	border:1px solid #000;
	border-width:1px 0;
	&.group1 {
		font-weight:bold;
	}	
	&.group2 {
		font-weight:bold;
		font-size:12px;
		/*border:0px;*/
		padding-top:5px;
	}
	
	
}
.dph_line {
	td {
		border-bottom:1px solid #ccc;
	}
}
.price {
	text-align:right;
}