@ucet_size: 12px;
body{font-family:arial;}.none{display:none;}
#print_ucet,#print_order_part,.print_data,#ucet {
	
	&#print_order_part {
		left:300px;
		left:-500px;
	}
	
	.header,.footer {
		background:none;
		color:#000;
		text-align:center;
		font-size:@ucet_size;
		line-height:11px;
	}
	label {
		display:inline-block;
		width:33%;
		padding:0;
		margin:0;
		float:none;
		line-height:13px;
		font-size:@ucet_size;
		
	}
	span {
		font-size:@ucet_size;
		
	}
	table {
		width:100%;
		margin:0;
		tr {
			th,td {
				padding:2px;
				background:#fff;
				font-size:@ucet_size;
				border:0;
			}
			th {
				&.bold {
					font-weight:bold;
				}
			}
		}
		&.total {
			tr {
				th {
					font-weight:bold;
				}
			}
		}
	}
	.copyright {
		font-size:6px;
	}
	
	tr.group {
		td {
			border-bottom:1px solid #000;
		}
	}	
	.group_name {
		font-weight:bold;
		font-size:@ucet_size;
		&.group1 {
			font-weight:bold;
		}	
		&.group2 {
			font-weight:bold;
			font-size:@ucet_size;
			padding-top:5px;
		}
		
		
	}
	.dph_line {
		td {
			border-bottom:1px solid #ccc;
		}
	}
	.price {
		text-align:right;
	}
	
	
}
