/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2.2.2016, 8:32:41
    Author     : Radovan
*/

.container {
   width:100%;
   position:relative;
   margin:0 auto;
   .box_sizing();
}

.row {
   margin-left:-15px;
   margin-right:-15px;
}

.column,
.columns {
   width:100%; 
   float: left;
   padding:0 15px; 
   
   &.center {
       margin:auto;
       float:none;
   }
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 65%;
    padding: 0; 
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .one.column,
  .one.columns                    { width: 8.333333333333333%; }    
  .two.columns                    { width: 16.66666666666667%; }    
  .three.columns                  { width: 25%;            }        
  .four.columns                   { width: 33.33333333333333%; }    
  .five.columns                   { width: 41.66666666666667%; }        
  .six.columns                    { width: 50%;            }        
  .seven.columns                  { width: 58.33333333333334%; }
  .eight.columns                  { width: 66.66666666666667%; }
  .nine.columns                   { width: 75%;          }
  .ten.columns                    { width: 83.33333333333333%; }
  .eleven.columns                 { width: 91.66666666666667%; }
  .twelve.columns                 { width: 100%;}

  /*.one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }*/

  .one-half.column                { width: 50%; }
}
 
@media (max-width: 1400px) {
    .container {
        width: 60%;
    }
	#dashboard {
		#side_menu{
			width:25%;
		}
		#canvas,#canvas_filtr {
			width:74%;
		}
	}
}

@media (max-width: 1000px) {
	#logged_info {
		display:block !important;
		left:55px;
		right:auto;
		top:0;
		.radius(0);
		border:0;
		height:50px;
	}
	#menu_open {
		display:block;
		z-index:1002;
	}
	.top_menu {
		height:48px;
		li {
			margin-left:-10px;
			height:100%;
			a {
				height:100%;
				span {
					&.fa::before {
						font-size:20px;
						position:relative;
						top:10px;
					}
				}
			}
		}
	}
	#top_menu {
		position:absolute;
		top:0;
		left:-1000px;
		width:100%;
		z-index:1000;
		padding:0;
		display:block !important;
		height:auto;
		li {
			display:block;
			background:#2248A8;
			margin:0;
			padding: 0 25px 0 55px;
			
			a {
				border-right:0;
				border-bottom:1px solid #254189;
				line-height:48px;
				
			}
		}
		
	}
	#top_menu2 {
		li {
			
			a {
				font-size:0px;
				padding:0 10px;
				span {
					margin-right:0;
				}
				&.menu_settings {
					display:none;
				}
				
			}
		}
	}
	
	#login_box {
		form {
			input {width:100%;} 
		}
	}
	
	.table_response {
		width:100%;
		overflow:scroll;
	}
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

