<?php 

if (isset($data) && count($data)>0){ 
	echo '<div id="qr_code_list">';
	echo '<div id="qr_code_list_head"></div>';
	//foreach($data AS $d){
	
	for ($i = 0; $i <= 34; $i++) {
		echo '<div class="code_item">';
		if (isset($data[$i])){
			echo $this->Fastest->qr_code($data[$i]->id,132);
		
		}
		echo '</div>';
	}
	echo '</div>';
}
?>
<script type="text/javascript">
//<![CDATA[
   $$('.header').destroy();
//]]>
</script>