<div id="keyboard" class="keyboard none">
<div id="keyboard_close" class="keyboard_close">X</div>
	<div class="keys_items">
		<div class="key_but">Q</div>
		<div class="key_but">W</div>
		<div class="key_but">E</div>
		<div class="key_but">R</div>
	</div>
</div>
<div id="keyboard_num" class="keyboard none">
<div id="keyboard_close_num" class="keyboard_close">X</div>
	<div class="keys_items">
		<div class="key_but">9</div>
		<div class="key_but">8</div>
		<div class="key_but">7</div>
		<div class="key_but">6</div>
		<div class="key_but">5</div>
		<div class="key_but">4</div>
		<div class="key_but">3</div>
		<div class="key_but">2</div>
		<div class="key_but">1</div>
	
	<div class="keys_fce">
		<div class="key_but">backspace</div>
	</div>
	
	</div>
</div>