<?php  
echo '<div id="logged_info" class="nonea '.(($current_url != 'order')?'normal':'').'">';
		
		if (isset($loggedUser['name'])){
			echo $loggedUser['name'].'<br />';
			echo '<var>'.(isset($group_list[$loggedUser['group_id']])?$group_list[$loggedUser['group_id']]:'Superadmin').'</var>';
			
			echo $this->Html->link(__('Odhlásit'),'/users/logout/',['title'=>__('Odhlásit')],null,false);
			echo '<span class="fa fa-user"></span>';
		} else {
			echo $this->Html->link(__('Prihlásit'),'/users/login/',['title'=>__('Prihlásit')],null,false);
			echo '<span class="fa fa-user"></span>';
		}
	echo '</div>';
?>