<?php
echo '<div class="tabs">'; 
echo '<ul class="modal_tabs">';
	foreach($params AS $p){
		echo '<li>';
			echo $p;
		echo '</li>';
	}
echo  '</ul>';
//pr($this->request->params['controller']);
			
echo '<div class="clear"></div>';
echo  '<div class="modal_contents">';
	foreach($params AS $k=>$p){
		echo  '<div class="modal_tab">';
			echo  $this->element('../'.$this->request->params['controller'].'/elements/'.$k);
			echo '<div class="clear"></div>';
		echo  '</div>';
				
	}
echo  '</div>';
echo '<div class="clear"></div>';
echo '</div>';