<div id="map_table" class="none">
	<div id="map_table_in">
		<?php //pr($stoly_group_list); ?>
		<?php foreach($stoly_group_list[$loggedUser['system_id']] AS $k=>$s){ ?>
			<?php //pr($k); ?>
			<div data-id="<?php echo $k?>" class="canvas_group canvas_group<?php echo $k.' '.(($k!=1)?'none':'')?> ">
				<div class="label"><?php echo $s;?></div>
				
				<?php 
				$setting_table_map['data'] = json_decode(json_encode($setting_table_map['data']), true);
				//pr($setting_table_map);
				if (isset($setting_table_map['data'][$k])){ 
					foreach($setting_table_map['data'][$k] AS $d){
						
						echo '<div class="table" id="MapTable'.$d['id'].'" data-name="'.$d['name'].'" data-id="'.$d['id'].'" style="width:'.$d['width'].';height:'.$d['height'].';top:'.$d['top'].'px;left:'.$d['left'].'px;">';
							echo '<div class="name">'.$d['name'].'</div>';
							echo '<span class="cnt" id="TableCnt2'.$d['id'].'">'.(isset($open_table[$d['id']])?$this->Fastest->price($open_table[$d['id']]):'').'</span>';
						echo '</div>';
		
					}
				} 
				
				?>
				
			</div>
		<?php } ?>
	</div>
</div>
