<div id="open_smena_over">
	<div id="open_smena">
		<?php //pr(json_decode($_COOKIE['openSmena'])); ?>
		<?php 
		if (isset($_COOKIE['openSmena'])){
			$open_smena = json_decode($_COOKIE['openSmena'],true);
			//pr($open_smena);
		}
		if (isset($open_smena['open_time'])){ 
			echo $this->Form->input(__('Pokračovat na otevřené směně'),['class'=>'button','id'=>'OpenSmenaButton','type'=>'button','label'=>false,'data-type'=>'continue']); 
		
		} else {
			echo $this->Form->input(__('Otevřít směnu'),['class'=>'button','id'=>'OpenSmenaButton','type'=>'button','label'=>false,'data-type'=>'open']); 
		}
		?>
		
	</div>
</div>