<?php 
//pr($stoly_group_list);
//pr($table_list);die();
if (isset($table_list) && count($table_list)>0){
	echo '<ul id="table_list_switch">';
		foreach($table_group_list AS $k=>$s){
			echo '<li data-id="'.$k.'" class="'.(($k == 1)?'active':'').'">'.$s.'</li>';
		}
	echo '</ul>';
	echo '<ul id="table_list">';
		//pr($table_group_list);die();
	foreach($table_group_list AS $k=>$s){
		foreach($table_list[$k] AS $t){
			echo '<li class="tableId'.$t->id.' tg tg'.$t->group_id.' '.(($t->group_id > 1)?'none':'').' '.(($t->terminal_id == $loggedUser['terminal_id'])?'active':'').' '.(($t->terminal_id>0 && $t->terminal_id != $loggedUser['terminal_id'])?'active_other':'').'" id="TableId'.$t->id.'" data-id="'.$t->id.'" data-table=\''.$t->data.'\'>';
				echo '<span class="name">'.$t->name.'</span>';
				echo '<span class="cnt" id="TableCnt'.$t->id.'">'.(!empty($t->total_price)?$this->Fastest->price($t->total_price):'').'</span>';
			
			echo '</li>';
		}
		
		
	}
	echo '<li class="tg0 TableId0" id="TableId0" data-id="0">';
		echo '<span class="name">'.__('Volný prodej').'</span>';
		//pr($open_table[0]);
		echo '<span class="cnt" id="TableCnt0">'.(isset($open_table[0])?$this->Fastest->price($open_table[0]['total_price']):'').'</span>';
			
	echo '</li>';
	echo '</ul>';
		

} else {
	echo '<div class="noresult">'.__('Nenalezeny žádné stoly').'</div>';
}
?>