
<ul id="order_top_menu">
	<?php  
	//echo '<div id="switch_group_tab">';
		
	$ii = 0;
	//pr($product_group_list);die();	
	foreach($product_group_list AS $k=>$pg){
		echo '<li>'.$this->Html->link($pg['name'],'#',array('title'=>$pg['name'],'class'=>"switch_group_tab ".(($ii > 0)?'none':'active'),'data-tab'=>'tab'.$k),null,false).'</li>';
		//echo '<div class="switch_group_tab" data-tab="tab'.$k.'">'.$pg['name'].'</div>';
		$ii++;
	}
	//echo '</div>';
	
	?>
	<?php echo '<li>'.$this->Html->link('Rozvoz','#',array('title'=>'Online','id'=>'type_rozvoz'),null,false).'</li>'; ?>
</ul>
<ul id="order_top_menu2">
	<?php echo '<li>'.$this->Html->link('Přesun stolů','#',array('title'=>'Rozdělit stůl','id'=>'RozdelitStul'),null,false).'</li>'; ?>

</ul>
<div id="terminal_name"><?php echo $terminal_list[$loggedUser['terminal_id']]; ?></div>
<div id="current_time">a</div>