<?php 
if (isset($data) && count($data)>0){
echo '<ul class="sort_list2 ul_drag">';
//pr($data);
foreach($data AS $d){
	//pr($d);
	if ($d->parent_id == null)
	echo $this->element('../Dashboard/elements/car_item',['d'=>$d]);
	
} 
echo '</ul>';
} else {
	echo '<p class="noresult">'.__('Nenalezeny žádné záznamy').'</p>';
}
?>