<div id="modal_in">
	<?php 
	if (isset($data) && !empty($data)){
		$d = $data;
		echo '<div class="element_drag fst_drag" data-id="'.$d->id.'" data-type="driver" data-drop="car" data-name="'.$d->name.'" >';
			echo $d->name;
			if (isset($modal_edit)){
			echo $this->Html->link('', ['controller' => 'dashboard', 'action'=>'delete_driver/'.$d->id],['class'=>'delete_driver fa fa-trash','title'=>__("Smazat"),'data-car_id'=>$car_id]);
			}
		echo '</div>';
	} else {
		echo '<div class="noresult">'.__('Nenalezeny žádné data').'</div>';
	}
	
	?>
</div>