<div id="modal_in">
	<?php 
	//pr($data);
	if (isset($data) && !empty($data)){
		foreach($data AS $d){
			echo '<div class="element_drag fst_drag" data-id="'.$d->id.'" data-type="zakazka" data-drop="car" data-size="'.$d->size.'" data-size2="'.$d->weight.'">'.$d->name;
			echo $this->Html->link('', ['controller' => 'dashboard', 'action'=>'delete_zakazka/'.$d->id],['class'=>'delete_zakazka fa fa-trash','title'=>__("Smazat")]);
			echo '</div>';
		}
	} else {
		echo '<div class="noresult">'.__('Nenalezeny žádné data').'</div>';
	}
	
	?>
</div>