<?php
echo '<div class="bar">';
echo $this->Html->link('<span class="fa fa-plus"></span>'.__("Nový projekt"), ['action' => 'add'], ['escape' => false, 'class' => 'btn', 'ajax' => true]);
echo '</div>';

echo $this->element("Auto/table");