<?php echo $this->Flash->render("project"); ?>

<div class="content">
  <?php
    echo '<h1>'.$project->name.'</h1>';
    if(isset($project->description)) {
      echo '<p>'. h($project->description) .'</p>';
    }
    echo '<table>';
      echo '<tr><th>'.__("předpokládané datum ukončení projektu").'<th><td></td></tr>';
      echo '<tr><th>'.__("Vytvořeno").'<th><td>'.$project->created.'</td></tr>';
      echo '<tr><th>'.__("Hodnota projektu").'<th><td></td></tr>';
      echo '<tr><th>'.__("předpokládané datum ukončení projektu").'<th><td></td></tr>';
    echo '</table>';
    echo '<h2>'.__("Klient").'</h2>';
    if($client->count()){

    }
    else{
      echo $this->cell("Client", [$project->group_id]);
    }

  echo '<h2>'.__("Stav projektu").'</h2>';
  echo '<h2>'.__("Úkoly").'</h2>';

  ?>
</div>

<?php echo $this->element("Project/menu"); ?>
