<?php  
echo '<div class="layout">';

echo $this->element('../ViewIndex/elements/filtr');

echo '<div id="fst_history">';
//pr($params_viewIndex);

echo '<div id="table_over">';

if(isset($items) && $items->count() > 0){
	echo $this->element('../ViewIndex/items');
	
} else {
	echo '<div class="noresult">'.__('Nenalezeny žádné záznamy').'</div>';
}


if(isset($items2) && $items2->count() > 0){
	$items = null;
	if (isset($params_viewIndex['data2_title'])){
		echo '<h2>'.$params_viewIndex['data2_title'].'</h2>';
	}
	//echo $this->element('../ViewIndex/items',['items'=>$items2]);
	
}

echo '</div>';

echo '</div>';
?>
<div id="print_modal" class="modal_win uzaverka none">
<div class="content">
<div class="big_modal_close">X</div>
<div class="relative">
	<div id="iframe_preloader" class="none"></div>
	<div id="uzaverkas_frame" class="print_data">
	</div>
</div>
</div>
</div>
				