<fieldset>
<?php //pr(); ?>
	<legend><?php echo __("Jednání")?></legend>
	<?php echo $this->Form->input((isset($zakazka)?'client.':'').'jednani', ['label' => __("Jednání").':','type'=>'textarea','class'=>'long long2']); ?>

</fieldset>