<?php 
if (isset($historie_list) && count($historie_list)>0){ 
	echo '<table class="table-formater">';
	echo '<tr>';
		echo '<th>'.__('Vytvořeno').'</th>';
		echo '<th>'.__('Operace').'</th>';
		echo '<th>'.__('Řidič').'</th>';
		echo '<th>'.__('Auto').'</th>';
		echo '<th>'.__('Sklad').'</th>';
		echo '<th>'.__('Uživatel').'</th>';
		
	echo '</tr>';
	//pr($dispecer_list);
	//pr($car_list);
	foreach($historie_list AS $h){
		echo '<tr>';
			echo '<td>'.$h->created.'</td>';
			echo '<td>'.$h->name.'</td>';
			echo '<td>'.(isset($dispecer_list[$h->driver_id])?$dispecer_list[$h->driver_id]:'').(isset($dispecer_list[$h->driver_id2])?' / '.$dispecer_list[$h->driver_id2]:'').'</td>';
			echo '<td>'.(isset($car_list[$h->car_id])?$car_list[$h->car_id]:'').'</td>';
			echo '<td>'.(isset($sklad_type[$system_id][$h->sklad_id])?$sklad_type[$system_id][$h->sklad_id]:'').'</td>';
			echo '<td>'.$dispecer_list[$h->user_id].'</td>';
		echo '</tr>';
	}
	echo '</table>';
} else {
	echo '<p class="noresult">'.__('Zatím není žádná historie').'</p>';
} 
?>