<?php  
	echo '<li id="car_'.$d->id.'" class="element_drag car_list resize_height '.(!isset($prives)?'fst_drag':'').'" data-id="'.$d->id.'" data-type="car" data-drop="canvas" 
	data-name="'.$d->name.'"  
	data-size_all="'.$d->size_all.'" 
	data-size_all2="'.$d->weight_all.'" 
	data-spz="'.$d->spz.'" 
	data-car_type="'.$car_type_list[$d->car_type].'" 
	data-car_type_id="'.$d->car_type.'" 
	data-car_color="'.$car_color_list[$d->car_type].'" 
	
	>';
		echo $this->Form->input("car_".$d->id, ['label' => false,'type'=>'checkbox','data-id'=>$d->id,'class'=>'checkbox']);
		echo '<div class="fa fa-car"></div>';
			
			echo '<span class="name">'.$d->name.'</span>';
			echo '<span class="spz">'.$d->spz.'</span>';
			echo '<span class="sklad2_id">'.$sklad_type[$system_id][$d->sklad2_id].'</span>';
		
			if (isset($car_type_list[$d->car_type])){
				echo '<span class="type">'.$car_type_list[$d->car_type].'</span>';
			}
			if (isset($d->Prives) && !empty($d->Prives['id'])){
				$object = json_decode(json_encode($d->Prives), FALSE);
				echo '<ul>';
					echo $this->element('../Dashboard/elements/car_item',['d'=>$object,'prives'=>true]);
				echo '</ul>';
			}
	echo '</li>';
?>