body {
  font-family: arial;
}
.none {
  display: none;
}
#print_ucet#print_order_part,
#print_order_part#print_order_part,
.print_data#print_order_part,
#ucet#print_order_part {
  left: 300px;
  left: -500px;
}
#print_ucet .header,
#print_order_part .header,
.print_data .header,
#ucet .header,
#print_ucet .footer,
#print_order_part .footer,
.print_data .footer,
#ucet .footer {
  background: none;
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 11px;
}
#print_ucet label,
#print_order_part label,
.print_data label,
#ucet label {
  display: inline-block;
  width: 33%;
  padding: 0;
  margin: 0;
  float: none;
  line-height: 13px;
  font-size: 12px;
}
#print_ucet span,
#print_order_part span,
.print_data span,
#ucet span {
  font-size: 12px;
}
#print_ucet table,
#print_order_part table,
.print_data table,
#ucet table {
  width: 100%;
  margin: 0;
}
#print_ucet table tr th,
#print_order_part table tr th,
.print_data table tr th,
#ucet table tr th,
#print_ucet table tr td,
#print_order_part table tr td,
.print_data table tr td,
#ucet table tr td {
  padding: 2px;
  background: #fff;
  font-size: 12px;
  border: 0;
}
#print_ucet table tr th.bold,
#print_order_part table tr th.bold,
.print_data table tr th.bold,
#ucet table tr th.bold {
  font-weight: bold;
}
#print_ucet table.total tr th,
#print_order_part table.total tr th,
.print_data table.total tr th,
#ucet table.total tr th {
  font-weight: bold;
}
#print_ucet .copyright,
#print_order_part .copyright,
.print_data .copyright,
#ucet .copyright {
  font-size: 6px;
}
#print_ucet tr.group td,
#print_order_part tr.group td,
.print_data tr.group td,
#ucet tr.group td {
  border-bottom: 1px solid #000;
}
#print_ucet .group_name,
#print_order_part .group_name,
.print_data .group_name,
#ucet .group_name {
  font-weight: bold;
  font-size: 12px;
}
#print_ucet .group_name.group1,
#print_order_part .group_name.group1,
.print_data .group_name.group1,
#ucet .group_name.group1 {
  font-weight: bold;
}
#print_ucet .group_name.group2,
#print_order_part .group_name.group2,
.print_data .group_name.group2,
#ucet .group_name.group2 {
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
}
#print_ucet .dph_line td,
#print_order_part .dph_line td,
.print_data .dph_line td,
#ucet .dph_line td {
  border-bottom: 1px solid #ccc;
}
#print_ucet .price,
#print_order_part .price,
.print_data .price,
#ucet .price {
  text-align: right;
}
