<?php 
if (isset($skladStavs)){ 
echo '<div id="sklad_stav_report">';
	echo '<table>';
		echo '<tr>';
			echo '<th>Datum</th>';
			echo '<th><strong>'.$skladStavs->created.'</strong></th>';
			echo '<th></th>';
			echo '<th></th>';
		echo '</tr>';
		echo '<tr>';
			echo '<th>Produkt</th>';
			echo '<th>Stav před (pokladna)</th>';
			echo '<th>Stav po (reálný)</th>';
			echo '<th>Stav rozdíl</th>';
		echo '</tr>';
		foreach($skladStavs->sklad_stav_items AS $s){
		//pr($s);
		echo '<tr>';
			echo '<td>'.$sklad_items_list[$s->sklad_item_id].'</td>';
			echo '<td>'.$s->stav.'</td>';
			echo '<td>'.$s->stav_real.'</td>';
			echo '<td>'.$s->stav_count.'</td>';
		echo '</tr>';
		
		}
	echo '</table>';
echo '</div>';
	//pr($skladStavs);
} 
?>