/*
@font-face {
    font-family: 'opensansLight';
    src: url('/css/fonts/opensans-l/opensans-l.eot');
    src: url('/css/fonts/opensans-l/opensans-l.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-l/opensans-l.woff') format('font-woff'),
         url('/css/fonts/opensans-l/opensans-l.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('/css/fonts/opensans-r/opensans-r.eot');
    src: url('/css/fonts/opensans-r/opensans-r.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-r/opensans-r.woff') format('font-woff'),
         url('/css/fonts/opensans-r/opensans-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansBold';
    src: url('/css/fonts/opensans-b/opensans-b.eot');
    src: url('/css/fonts/opensans-b/opensans-b.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-b/opensans-b.woff') format('font-woff'),
         url('/css/fonts/opensans-b/opensans-b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/css/fonts/ubuntu-r/ubuntu-r.eot');
    src: url('/css/fonts/ubuntu-r/ubuntu-r.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ubuntu-r/ubuntu-r.woff') format('font-woff'),
         url('/css/fonts/ubuntu-r/ubuntu-r.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/css/fonts/ubuntu-m/ubuntu-m.eot');
    src: url('/css/fonts/ubuntu-m/ubuntu-m.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ubuntu-m/ubuntu-m.woff') format('font-woff'),
         url('/css/fonts/ubuntu-m/ubuntu-m.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/css/fonts/ubuntu-b/ubuntu-b.eot');
    src: url('/css/fonts/ubuntu-b/ubuntu-b.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ubuntu-b/ubuntu-b.woff') format('font-woff'),
         url('/css/fonts/ubuntu-b/ubuntu-b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* FONTY 
@font-face {
    font-family: 'awesome';
    src: url('/css/fonts/awesome/fontawesome-webfont.eot');
    src: url('/css/fonts/awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
         url('/css/fonts/awesome/fontawesome-webfont.woff') format('font-woff');
         url('/css/fonts/awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 
*/