<fieldset>
	<legend><?php echo __("Základní údaje")?></legend>
	<div class="sll"> 
		<?php echo $this->Form->input('data.default_printer', ['label' => __('Výchozí tiskárna'),'class'=>'show_printer']); ?>
		
	    
	</div>
	<div class="slr"> 
		
	</div>
	
	<div class="clear"></div>
	<div id="printers_data" class="none"></div>
</fieldset>
<script type="text/javascript">
//<![CDATA[
window.addEvent('domready',function(){
   window.fstPokladna.get_printer_list();
});
//]]>
</script>