#map_area {
	margin-top:50px;
	#maparea_canvas {width:80%;height:600px;border:1px solid #ccc;
		&.cestak {width:50%;}
	}
	#panel {
		width: 19%;
		float: right;
	}

	#color-palette {
	  clear: both;
	}

	.color-button {
		width: 14px;
		height: 14px;
		font-size: 0;
		margin: 2px;
		float: left;
		cursor: pointer;
	}
	#delete-button {
		margin-top: 5px;
	}
	#coords {width:89%;min-height:200px;overflow:scroll;border:1px solid #ccc;clear:both;padding:10px;}
	#win_name {}	
	#win_name_over {width:100%;height:100%;background:#000;opacity:0.5;position:fixed;top:0;left:0;z-index:100;}

	#win_name_inner {width:200px;min-height:50px;background:#fff;position:fixed;top:20%;left:0;right:0;margin:auto;z-index:101;padding:10px;
		.text{margin:10px auto;width:90%;height:20px;position:relative;display:block;}
	}
	
	
}
#cestak_list {width:100%;
	tr {
		td,th {	
			text-align:left;
			border-bottom:1px solid #ccc;padding:5px;
		}
	}
}
#cestak_panel {
	width:49%;float:right;
}
#PrintCestak {
	
}