<?php echo $this->Flash->render("client"); ?>

<div class="content">
  <h2>
    <?= __("Přehled") ?>
  </h2>
  <?php
    echo 'jméno: '.$main->name;
  ?>


    <?php
    echo '<h2>'.__("Projekty").'</h2>';

    if($projects->count()){
      foreach($projects as $p){
        echo $p["name"];
      }
    }
    else{
      echo __("zatím nic");
    }


    ?>


</div>

<?php echo $this->element("Group/menu"); ?>
