<div id="scan_done" class="message_done">
	<table>
	<tr>
		<th><?php echo __('Zakázka').': </th><td>'.$zakazka['name'].' '.__('načtena'); ?></td>
	</tr>
	<tr>
		<th><?php echo __('Stav').': </th><td>'.$save_type; ?></td>
	</tr>
	<tr>
		<th><?php echo __('Adresa naložení').': </th><td>'.$zakazka['adresa_nalozeni']['ulice'].' '.$zakazka['adresa_nalozeni']['mesto'].' '.$zakazka['adresa_nalozeni']['psc'].' '.$zakazka['adresa_nalozeni']['stat']; ?></td>
	</tr>
	<tr>
		<th><?php echo __('Adresa vyložení').': </th><td>'.$zakazka['adresa_vylozeni']['ulice'].' '.$zakazka['adresa_vylozeni']['mesto'].' '.$zakazka['adresa_vylozeni']['psc'].' '.$zakazka['adresa_vylozeni']['stat']; ?></td>
	</tr>
	</table>
</div>
<?php //pr($loggedUser); ?>
<script type="text/javascript">
//<![CDATA[
function scan_done(){
	window.addEvent('load',function(){
		(function(){
			<?php if ($_SERVER['REMOTE_ADDR'] != '164.215.123.130'){?>
			window.location = '/';
			
			<?php } ?>
		}).delay(2000);
	});
	window.addEvent('domready',function(){
		$('top_menu').addClass('none');
	});
}   
scan_done();
//]]>
</script>